<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-xl-1 col-xl-10">
                <h3 class="card-title"> {{getLang('myleavebalance', 'My Leave Balance')}}</h3>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-12">

                                <div fxLayout="row" *ngIf="isLoadingData" fxLayoutAlign="space-around center"
                                    style="height:100%; position: relative; margin-left: 50%; margin-right: 50%;">
                                    <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
                                </div>

                                <div class="material-datatables1" *ngIf="!isLoadingData">
                                    <div class="table-responsive">

                                        <table mat-table [dataSource]="dataSource" matSort
                                            class="mat-elevation-z8 w-100 table-hover table-membroz">

                                            <ng-container matColumnDef="type">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                                                <td mat-cell *matCellDef="let element;"> {{element.title}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="allowance">
                                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Leave Allowance (Days/year) </th>
                                              <td mat-cell *matCellDef="let element"> {{element.allowance}} </td>
                                          </ng-container>

                                            <ng-container matColumnDef="accrual">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Accrual/Month </th>
                                                <td mat-cell *matCellDef="let element"> {{element.accrual}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="balance">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Balance (Days) </th>
                                                <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="action">
                                                <th mat-header-cell *matHeaderCellDef class="text-right"> Action</th>
                                                <td mat-cell *matCellDef="let element" class="text-right">
                                                    <button mat-raised-button type="button" matTooltip="History"
                                                        [matTooltipPosition]="'above'" data-original-title="History"
                                                        class="btn btn-link btn-primary btn-just-icon edit"
                                                        data-toggle="modal" data-target="#myModal2"
                                                        (click)="getHistory(element)">
                                                        <i class="material-icons">history</i>
                                                    </button>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> History </h4>
                <button mat-button type="button" id="Close2" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>

            <div class="modal-body">

                <div fxLayout="row" *ngIf="isLoading" fxLayoutAlign="space-around center"
                    style="height:100%; position: relative; margin-left: 50%; margin-right: 50%;">
                    <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
                </div>

                <div class="row" *ngIf="!isLoading">
                    <div class="col-md-6">
                        <label class="col-form-label">
                            {{getLang('type','Type')}}
                        </label>
                        <mat-form-field class="example-full-width">
                            <input matInput disabled [value]="chsLeave.title">
                        </mat-form-field>
                    </div>

                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-membroz table-pos">
                                <thead>
                                    <tr>
                                        <th>{{getLang('note', 'Note')}}</th>
                                        <th class="text-center">{{getLang('date', 'Date')}}</th>
                                        <!-- <th class="text-right">{{getLang('added', 'Added')}}</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of subList">
                                        <td> {{item?.property?.note}} </td>
                                        <td class="text-center"> {{item?.createdAt | toLocaleDate}}</td>
                                        <!-- <td class="text-right"> {{item?.property?.added}} </td> -->
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">
                    <i class="material-icons">close</i> {{getLang('cancel','Cancel')}}
                </button>
            </div>
        </div>
    </div>
</div>
