<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive mt-3">
            <div class="table-responsive">
                <table id="datatables" class="mat-elevation-z8 w-100 table-hover table-membroz table table-striped"
                    cellspacing="0" width="100%" style="width:100%">
                    <thead>
                        <tr>
                            <th width="30%">From Date</th>
                            <th width="30%">To Date</th>
                            <th width="30%">Total Minutes</th>
                            <th width="30%">Status</th>

                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let data of ELEMENT_DATA">
                            <ng-container *ngFor="let newdata of data.timesheets">
                                <tr>
                                    <td>{{newdata.fromdate | toLocaleDate}}</td>
                                    <td>{{newdata.todate | toLocaleDate}}</td>
                                    <td>{{newdata.totalminutes}}</td>
                                    <td>{{newdata.status}}</td>
                                </tr>
                            </ng-container>
                        </ng-container>
                        <tr *ngIf=" selectedfield.length == 0">
                            <td colspan="6" class="text-center" style="font-weight: bold;">
                                No Data
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>

        </div>
    </div>