<button class="d-none" data-toggle="modal" id="resetBtn" data-target="#resetpasswd">
</button>

<div id="resetpasswd" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-md">
            <div class="modal-header">

                <h4 class="modal-title"> {{getLang('reset', 'Reset Password')}}  </h4>
                <button type="button" class="close" data-dismiss="modal" id="resetpwdclose"
                    (click)="close()">&times;</button>
            </div>
            <div class="modal-body">

                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12 mb-3 mt-3">
                            <mat-slide-toggle [(ngModel)]="automaticgn" (change)="getPassword($event.checked)">
                                {{getLang('autogenpass', 'Automatically generate a password')}}
                                </mat-slide-toggle>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-form-label">
                                {{ langResource['newpass'] ? langResource['newpass'] : 'New Password'}}
                            </label>
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <input type="password" id="newpasswd" matInput [(ngModel)]="currentpassword"
                                        (ngModelChange)="validatePasswd()" [ngModelOptions]="{standalone: true}">
                                    <mat-icon matSuffix class="cursor-pointer" *ngIf="!hidepasswd"
                                        (click)="showPassword()">visibility</mat-icon>
                                    <mat-icon matSuffix class="cursor-pointer" *ngIf="hidepasswd"
                                        (click)="showPassword()">visibility_off</mat-icon>
                                </mat-form-field>
                                <div *ngIf="!validpasswd" class="text-danger">
                                    <small class="error-label">
                                        {{getLang('invalidpass', 'Invalid password')}}
                                    </small>
                                </div>
                            </form>
                            <div class="mb-4 text-warning">
                                {{getLang('mustchars', 'Must have at least 8 characters')}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default d-none d-sm-block" data-dismiss="modal"
                    (click)="close()" [disabled]="disableBtn">
                    <i class="material-icons" >close</i>
                    {{getLang('cancel', 'Cancel')}}
                </button>
                <button type="button" class="btn btn-success ml-2" (click)="updatePassword()"  [disabled]="disableBtn">
                    <i class="material-icons"></i>
                    {{getLang('chngpass', 'Change Password')}}
                </button>
                <button type="button" class="btn btn-primary ml-2" (click)="sendlinkResetPassword()" [disabled]="disableBtn">
                    <i class="material-icons" ></i>
                    {{getLang('sendlink', 'Send link to Reset')}}
                </button>

            </div>

        </div>
    </div>
</div>
