<form  [formGroup]="form"  (ngSubmit)="onSubmit(form.value, form.valid)"  novalidate  class="mb-0">
<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="offset-xl-1 col-xl-10">
          <h3 class="card-title">{{dataContent?.title}} </h3>
          <div class="loader" *ngIf="isLoadingData">
            <svg class="circular" viewBox="25 25 50 50">
              <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
          </div>
          <div class="card" *ngIf="!isLoadingData">
            <div class="card-body">
              <div class="row">
                <div class="offset-xl-1 col-xl-10">
                  <div class="row">

                    <div class="col-sm-6">
                      <label class="col-form-label">
                       Date
                       <span class="text-danger">*</span>
                     </label>
                     <mat-form-field class="example-full-width">
                       <input matInput formControlName="date" [matDatepicker]="pickerdate" [min]="mindate">
                       <mat-datepicker-toggle matSuffix [for]="pickerdate"></mat-datepicker-toggle>
                       <mat-datepicker #pickerdate></mat-datepicker>
                     </mat-form-field>
                     <div [hidden]="form.get('date').valid || (form.get('date').pristine && !submitted)"
                       class="text-danger">
                       <small *ngIf="form.get('date').hasError('required')" class="error-label">
                         {{getLang('dateisrequired', 'Date is Required')}}
                       </small>
                     </div>
                   </div>

                   <div class="col-md-6">
                    <label class="col-form-label">
                      Capacity
                      <span class="text-danger">*</span>
                    </label>
                    <mat-form-field class="example-full-width">
                      <input matInput type="number" formControlName="capacity">
                    </mat-form-field>
                    <div [hidden]="form.get('capacity').valid || (form.get('capacity').pristine && !submitted)" class="text-danger">
                      <small *ngIf="form.get('capacity').hasError('required')" class="error-label">
                        {{getLang('capacityisrequired', 'Capacity is required !')}}
                      </small>
                    </div>
                  </div>

                  <div class="col-sm-12">
                      <label class="col-form-label">
                          {{getLang('schedule', 'Schedule')}}
                          <span class="text-danger">*</span>
                      </label>
                      <div class="mt-2">
                          <mat-radio-group formControlName="schedule">
                              <mat-radio-button
                                  *ngFor="let schedule of schldLists"
                                  [value]="schedule.id"
                                  [checked]="schedule.checked">
                                  {{schedule.name}} &nbsp;&nbsp;&nbsp;
                              </mat-radio-button>
                          </mat-radio-group>
                      </div>
                      <div
                          [hidden]="form.get('schedule').valid || (form.get('schedule').pristine && !submitted)"
                          class="text-danger">
                          <small *ngIf="form.get('schedule').hasError('required')" class="error-label">
                              {{getLang('scheduleisrequired', 'schedule is Required')}}
                          </small>
                      </div>
                  </div>

                  <div class="col-sm-12" *ngIf="form.get('schedule').value == 'recurring'">
                      <label class="col-form-label">
                          {{getLang('recurring', 'Recurring')}}
                      </label>

                      <mat-form-field>
                          <mat-select formControlName="recurringtype">
                              <mat-option *ngFor="let item of recurringtypeLists" [value]="item.id"> {{item.name}} </mat-option>
                          </mat-select>
                      </mat-form-field>

                      <div
                          [hidden]="form.get('recurringtype').valid || (form.get('recurringtype').pristine && !submitted)"
                          class="text-danger">
                          <small *ngIf="form.get('recurringtype').hasError('required')" class="error-label">
                              {{getLang('recurringtypeisrequired', 'recurringtype is Required')}}
                          </small>
                      </div>
                  </div>

                  <div class="col-sm-12" *ngIf="form.get('schedule').value == 'recurring'">
                      <div class="d-flex align-items-center">
                      <div class="pr-3">
                          <span *ngIf="form.get('recurringtype').value == 'daily'">{{getLang('repeatdailyat', 'Repeat daily at')}} &nbsp; {{getLang('starting', 'starting')}} &nbsp; {{date | date: 'mediumDate'}} &nbsp; {{getLang('for', 'for')}} </span>
                          <span *ngIf="form.get('recurringtype').value == 'weekly'">{{getLang('repeatevery', 'Repeat every')}} &nbsp; {{getDayName(date)}} &nbsp; {{getLang('at', 'at')}} &nbsp; {{date | date: 'mediumDate'}}&nbsp; {{getLang('for', 'for')}} </span>
                          <span *ngIf="form.get('recurringtype').value == 'monthly'">{{getLang('repeatthe', 'Repeat the ')}} {{getDayName(date)}}  {{getLang('ofeverymonthat', 'of every month at')}} {{getLang('starting', 'starting')}} {{date | date: 'mediumDate'}} {{getLang('for', 'for')}}   </span>
                      </div>

                      <div class="col-lg-2 col-md-3 col-4 pr-3">
                          <mat-form-field >
                              <mat-select formControlName="recurringoccurance">
                                  <mat-option *ngFor="let item of recurringoccuranceLists" [value]="item"> {{item}} </mat-option>
                              </mat-select>
                          </mat-form-field>
                          <div
                              [hidden]="form.get('recurringoccurance').valid || (form.get('recurringoccurance').pristine && !submitted)"
                              class="text-danger">
                              <small *ngIf="form.get('recurringoccurance').hasError('required')" class="error-label">
                                  {{getLang('recurringoccuranceisrequired', 'recurringoccurance is Required')}}
                              </small>
                          </div>
                      </div>
                      <div>
                          {{getLang('times', 'Times')}}.
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12" *ngIf="form.get('schedule').value == 'custom'">
                    <label class="col-form-label">
                        {{getLang('days', 'Days')}}
                        <span class="text-danger">*</span>
                    </label>

                    <mat-selection-list class="d-flex flex-wrap" formControlName="days">
                        <mat-list-option
                            class="mat-primary col-md-4 col-6"
                            checkboxPosition="before"
                            *ngFor="let option of options" [value]="option.value">
                            {{option.value}}
                        </mat-list-option>
                    </mat-selection-list>

                    <div
                        [hidden]="form.get('days').valid || (form.get('days').pristine && !submitted)"
                        class="text-danger">
                        <small *ngIf="form.get('days').hasError('required')" class="error-label">
                            {{getLang('daysisrequired', 'days is Required')}}
                        </small>
                    </div>
                  </div>

                <div class="col-sm-6" *ngIf="form.get('schedule').value == 'custom'">
                    <label class="col-form-label">
                        {{getLang('enddate', 'End date')}}
                    </label>

                    <mat-form-field>
                        <input
                            matInput
                            name="enddate"
                            formControlName="enddate"
                            [matDatepicker]="picker2" [min]="mindate" [max]="maxdate">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>

                    <div
                        [hidden]="form.get('enddate').valid || (form.get('enddate').pristine && !submitted)"
                        class="text-danger">
                        <small *ngIf="form.get('enddate').hasError('required')" class="error-label">
                            {{getLang('enddateisrequired', 'enddate is Required')}}
                        </small>
                    </div>
                  </div>

                <div class="col-sm-12" *ngIf="form.get('schedule').value !== 'onetime'">
                    <div class="d-flex mb-3 justify-content-end">
                        <button type="button" class="btn btn-primary" (click)="addtime()">{{getLang('addschedule', 'Add Schedule')}} </button>
                    </div>
                </div>

                 <div class="col-sm-12" *ngIf="form.get('schedule').value !== 'onetime' && scheduleList.length !== 0">
                  <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <ul *ngIf="scheduleList && scheduleList.length !== 0">
                            <li *ngFor="let item of scheduleList">
                                {{item | date: 'mediumDate'}}
                                <a class="delete" (click)="removeDate(item)">{{getLang('remove', 'remove')}}</a>
                            </li>
                        </ul>
                    </div>
                 </div>

                <div class="col-md-12">
                  <mat-tab-group class="frontdesk-tab-card">
                    <mat-tab label="Upcoming">
                      <div class="table-responsive">
                        <table class="table table-hover table-membroz">
                          <thead>
                            <tr>
                              <th>Travel Date</th>
                              <th>Duration</th>
                              <th>Occupied </th>
                              <th>Capacity</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngIf="upcomingSchedule.length > 0;else noTemp">
                              <tr *ngFor="let item of upcomingSchedule" >
                                <td>{{item?.traveldate | toLocaleDate}}</td>
                                <td>{{item?.duration}}</td>
                                <td>{{item?.bookedcapacity}}</td>
                                <td>{{item?.capacity}}</td>
                              </tr>
                          </ng-container>
                          <ng-template #noTemp>
                            <tr><td colspan="3"> No Data</td> </tr>
                          </ng-template>
                          </tbody>
                        </table>
                      </div>
                    </mat-tab>
                    <mat-tab label="Completed">
                      <div class="table-responsive">
                        <table class="table table-hover table-membroz">
                              <thead>
                                <tr>
                                  <th>Travel Date</th>
                                  <th>Duration</th>
                                  <th>Occupied </th>
                                  <th>Capacity</th>
                                </tr>
                           </thead>
                          <tbody>
                            <ng-container *ngIf="completedSchedule.length > 0;else noTemp">
                              <tr *ngFor="let item of completedSchedule" >
                                <td>{{item?.traveldate | toLocaleDate}}</td>
                                <td>{{item?.duration}}</td>
                                <td>{{item?.bookedcapacity}}</td>
                                <td>{{item?.capacity}}</td>
                              </tr>
                          </ng-container>
                          <ng-template #noTemp>
                            <tr><td colspan="3"> No Data</td> </tr>
                          </ng-template>
                          </tbody>
                        </table>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
                </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer fixed-bottom bg-white shadow-top" *ngIf="!isLoadingData">
    <div class="container-fluid">
      <div class="row">
        <div class="offset-xl-1 col-xl-10">
          <div class="row">
            <div class="col-sm-12 text-right">
              <button class="btn btn-default" [disabled]="disableBtn" type="button" [routerLink]="['/pages/dynamic-list/list/tourpackage']">
                <i class="material-icons">close</i> Cancel
              </button>
              <button class="btn btn-primary ml-2" [disabled]="disableBtn" type="submit">
                <i class="material-icons">save</i> Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>


</form>
