<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                  <div class="offset-xl-1 col-xl-10">
                    <div class="loader" *ngIf="isLoading">
                        <svg class="circular" viewBox="25 25 50 50">
                            <circle class="path" cx="50" cy="50" r="10" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                        </svg>
                    </div>
                    <div class="row membroz-row">
                        <ng-container *ngFor="let item2 of rSubMenus2;let l = index">
                        <div class="col-lg-6 membroz-col d-flex" *ngFor="let item of item2;let i = index" >
                            <div class="card mb-0" >                                
                                <div class="card-body">
                                    <h4 class="card-title">{{item[0] != undefined ? item[0].group : ''}}</h4>
                                        <ul class=" list-unstyled index-box-list">
                                            <li *ngFor="let itm of item;let j = index">
                                                <a [routerLink]="[itm.url]">
                                                    <!-- <span class="sidebar-mini">{{itm.shortname}}</span> -->
                                                    <div class="index-box-title">{{itm.text}}</div>											
                                                  <!--	<div *ngIf="itm.desc != ''">{{itm.desc}} </div>-->
                                                    <div *ngIf="itm.desc != ''" class="index-box-desc">{{itm.desc}}</div>
                                                </a>
                                                
                                            </li>
                                        </ul>
                                   
                                    <!-- <h6 class="card-title">{{item.group}} </h6> -->
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    </div>
                    
                            
                          
                                
                               
                
                           
                     

                  </div>  
            </div>
           
            

        </div>
    </div>