<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
        <div class="card card-calendar">
          <div class="card-body ">

            <div class="row">
              <div class="col-md-12">
                <div fxLayout="row" *ngIf="isLoading" fxLayoutAlign="space-around center"
                  style="height:100%; position: relative; margin-left: 50%; margin-right: 50%;">
                  <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
                </div>
                <div>
                  <full-calendar *ngIf="!isLoading" [options]="calendarOptions">
                  </full-calendar>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>