<div class="table-responsive mt-3">
  <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8 w-100 table-hover table-membroz">
 

    <ng-container matColumnDef="invoicenumber">
      <th mat-header-cell *matHeaderCellDef>{{getLang('invoice','Invoice')}} </th>
      <td mat-cell *matCellDef="let element">
        {{element.prefix}}-{{element.receiptnumber}}
      </td>
    </ng-container>

     

    <ng-container matColumnDef="paymentdate">
      <th mat-header-cell *matHeaderCellDef class="text-right">{{getLang('pymntdate','Payment Date')}} </th>
      <td mat-cell *matCellDef="let element" class="text-right">
        {{element.paymentdate | toLocaleDate }}
      </td>
    </ng-container>

    
    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef>{{getLang('discount','Discount')}} </th>
      <td mat-cell *matCellDef="let element">
        {{element.discount != null ? (element.discount| myCurrencyPipe): element.discount}}
      </td>
    </ng-container>


    <ng-container matColumnDef="taxamount">
      <th mat-header-cell *matHeaderCellDef>{{getLang('taxamount','Tax Amount')}}</th>
      <td mat-cell *matCellDef="let element">
        {{element.taxamount != null ? (element.taxamount| myCurrencyPipe): element.taxamount}}
      </td>
    </ng-container>

    <ng-container matColumnDef="walletamount">
      <th mat-header-cell *matHeaderCellDef>{{getLang('walletamount','Wallet Amount')}} </th>
      <td mat-cell *matCellDef="let element">
        {{element.walletamount != null ? (element.walletamount| myCurrencyPipe): element.walletamount}}
      </td>
    </ng-container>

    <ng-container matColumnDef="couponamount">
      <th mat-header-cell *matHeaderCellDef>{{getLang('couponamount','Coupon Amount')}} </th>
      <td mat-cell *matCellDef="let element">
        {{element.couponamount != null ? (element.couponamount| myCurrencyPipe): element.couponamount}}
      </td>
    </ng-container>

    <ng-container matColumnDef="paidamount">
      <th mat-header-cell *matHeaderCellDef>{{getLang('paidamount','Paid Amount')}} </th>
      <td mat-cell *matCellDef="let element">
        {{element.paidamount != null ? (element.paidamount| myCurrencyPipe) : element.paidamount}}
      </td>
    </ng-container> 
    
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="text-right">{{getLang('action','Action')}} </th>
      <td mat-cell *matCellDef="let element" class="text-right">

        <button class="btn btn-link btn-primary btn-just-icon" data-toggle="dropdown" matTooltip="More"
          [matTooltipPosition]="'above'">
          <i class="material-icons">{{getLang('morevert','more_vert')}}</i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" [routerLink]="['/pages/dynamic-preview-list/billpayment/' + element.billpaymentid]">
            {{getLang('viewinvoice','View Invoice')}}
          </a> 
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
  </table>
</div>
