<div class="wrapper wrapper-full-page">
    <div class="login-full-page landing-main" [ngClass]="adminloginimage && adminloginimage !=='' ? 'header-filter' : ''"
         [ngStyle]="styleObject()">

        <div class="top-right-square ">
        </div>

        <nav class="navbar navbar-expand-lg membroz-menu navbar-light p-0">
            <div id="header" class="header-inner">
                <div class="container">
                    <a class="navbar-brand ml-0" href="#"><img [src]="logoPath ? logoPath : '../assets/img/membroz-logo.png'"  alt=""></a>
                    <button class="navbar-toggler login-toggler" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <span
                            class="navbar-toggler-icon icon-bar"></span><span
                            class="navbar-toggler-icon icon-bar"></span><span
                            class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse w-100" id="collapseExample" >
                        <div class="card p-3">
                          <ul class="list-unstyled mb-0">
                            <li class="nav-item">
                                <a class="nav-link" [href]="resetType == 'user' ? '/login' : '/login/member'">Login
                                    {{_formDetail?.dispalyformname }}
                                </a>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="d-none d-lg-block navbar-nav ml-auto" >
                        <ul class="list-unstyled mb-0">
                          <li class="nav-item">
                            <a class="nav-link" [href]="resetType == 'user' ? '/login' : '/login/member'">Login
                                {{_formDetail?.dispalyformname }}
                            </a>
                          </li>
                        </ul>
                      </div>

                    
                </div>
            </div>
        </nav>


        <div class="container login-container">
            <div class="row">
                <div class="col-xl-6 col-md-6 d-flex align-items-center">
                  <div class="text-center text-md-left">
                    <div class="top-left-dots" [ngClass]="adminloginimage && adminloginimage !=='' ? 'd-none' : ''"></div>
                    <h1 class="h2 landing-head"> {{loginheader}}</h1>
                    <div class="landing-intro">
                      <p>{{loginsubheader}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-5 col-md-6">
                    <div class="landing-box p-4 membroz-form align-items-center">
                        <div class="ie-dblock">
                            <ng-container *ngIf="step1">
                                <h4 class="mb-3"> Reset Password </h4>
                                <form class="mb-0" [formGroup]="forgotform" (ngSubmit)="checkExist(forgotform.value)">
                                    <div class="form-group" *ngIf="!isLoading">
                                        <mat-form-field class="example-full-width">
                                            <input matInput formControlName="username" type="text"
                                                placeholder="Username or phone">
                                        </mat-form-field>
                                    </div>
                                    <div class="loader" *ngIf="isLoading">
                                        <svg class="circular" viewBox="25 25 50 50">
                                            <circle class="path" cx="50" cy="50" r="10" fill="none" stroke-width="2"
                                                stroke-miterlimit="10" />
                                        </svg>
                                    </div>
                                    <div class="form-group text-center">
                                        <button [disabled]="!forgotform.valid" type="submit"
                                            class="wpcf7-form-control btn btn-primary btn-lg btn-block">
                                            Next
                                        </button>
                                    </div>
                                </form>
                            </ng-container>
                            <ng-container *ngIf="step2">
                                <div class="card-profile text-center">
                                    <div class="card-header ">
                                        <div class="card-avatar">
                                            <a href="#">
                                                <img class="img" src="/assets/img/default-avatar.png"
                                                    style="width: 100% !important">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title" style="margin-top: 50px;">
                                            {{this.forgotform.controls['username'].value}}</h4>
                                        <div class="form-group label-floating">
                                            <b> Get a verification code </b> <br>
                                            System will send a verification code registered details
                                        </div>
                                    </div>
                                    <div class="card-footer justify-content-center">
                                        <a class="wpcf7-form-control btn btn-primary btn-lg btn-block"
                                            (click)="sendSms()">
                                            TEXT
                                        </a>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="step3">
                                <div class="card-profile text-center">
                                    <div class="card-header ">
                                        <div class="card-avatar">
                                            <a href="#">
                                                <img class="img" src="/assets/img/default-avatar.png"
                                                    style="width: 100% !important">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body ">
                                        <h4 class="card-title" style="margin-top: 50px;">
                                            {{this.forgotform.controls['username'].value}}</h4>
                                        <div class="form-group label-floating">
                                            A text message with a 6-digit verification code was just sent to Registered
                                            Mobile number.
                                        </div>
                                        <mat-form-field class="example-full-width">
                                            <input [(ngModel)]="verifyotpvalue" matInput placeholder="Enter the code"
                                                type="text">
                                        </mat-form-field>
                                    </div>
                                    <div class="card-footer justify-content-center">
                                        <a class="wpcf7-form-control btn btn-primary btn-lg btn-block"
                                            (click)="sendtoreset(verifyotpvalue)">
                                            Next
                                        </a>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="step4">
                                <form [formGroup]="form" (ngSubmit)="resetPassword(form.value)">
                                    <div class="card-login">
                                        <h4 class="h4-login mb-3">
                                            Reset Password
                                        </h4>
                                        <div>
                                            Hii, {{currentUser && currentUser.fullname ? currentUser.fullname : '---' }}
                                            ,Please
                                            set your new Password for login.
                                        </div>
                                        <div class="card-content">
                                            <div class="form-group no-float">
                                                <label class="control-label">
                                                    New Password
                                                </label><span class="pull-right">{{password.value.length}} / 16 </span>
                                                <input #password formControlName="password" placeholder="New Password"
                                                    type="password" name="password" class="form-control" id="newpasswd">
                                                <span class="field-icon" style="cursor: pointer;" *ngIf="!hidepasswd"
                                                    (click)="showPassword()"><i
                                                        class="material-icons">visibility</i></span>
                                                <span class="field-icon" style="cursor: pointer;" *ngIf="hidepasswd"
                                                    (click)="showPassword()"><i
                                                        class="material-icons">visibility_off</i></span>
                                            </div>
                                            <div class="form-group no-float">
                                                <label class="control-label">
                                                    Confirm Password
                                                </label>
                                                <input formControlName="confirmpassword" placeholder="Confirm Password"
                                                    type="password" name="confirmpassword" class="form-control">
                                                <small
                                                    [hidden]="!form.get('confirmpassword').hasError('notEquivalent') || (form.get('confirmpassword').pristine)"
                                                    class="text-danger">
                                                    Confirm Password does not match with password.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="loader" *ngIf="isLoading">
                                            <svg class="circular" viewBox="25 25 50 50">
                                                <circle class="path" cx="50" cy="50" r="10" fill="none" stroke-width="2"
                                                    stroke-miterlimit="10" />
                                            </svg>
                                        </div>

                                        <div class="footer text-center">
                                            <button [disabled]="!form.valid || disableBtn" type="submit"
                                                class="wpcf7-form-control btn btn-primary btn-lg btn-block">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
        <footer class="login-footer mt-auto py-3">
          <div class="container">
            <div class="row">
              <div class="col text-center"> {{copyright}}</div>
            </div>
          </div>
        </footer>
    </div>
</div>
