<oc-salesdesignation *ngIf="salesDesignation" (addSalesChannelNd)="addSalesDesignationOrg1($event)" [salesDesignation]="salesDesignation" [hasManager]="hasManager"></oc-salesdesignation>

<div class="oc-reports">
	
	<ng-container *ngFor="let salesDes of salesDesignation?.subordinates; first as isFirst; last as isLast">
		<div class="oc-org-container">
			<div class="oc-h-bar-container">
				<div class="oc-h-bar oc-border" [style.border-color]="isFirst?'transparent':''"></div>
				<div class="oc-border"></div>
				<div class="oc-h-bar oc-border" [style.border-color]="isLast?'transparent':''"></div>
			</div>
			<ng-saleschannel-chart [salesDesignation]="salesDes" [hasManager]="true" (addSalesChannelOrg)="addSalesDesignationOrg2($event)"></ng-saleschannel-chart>
		</div>
	</ng-container>
</div>
  