
.greenbg {
    //background-color: #5cb85c;
    background-color:#4caf50;
    //color: #FFFFFF;
}

.bluebg {
    background-color: #5bc0de;
    //color: #FFFFFF;
}

.redbg {
    background-color: #d9534f;
    //color: #FFFFFF;
}
.graybg {
    background-color: #dddddd;
    //color: #FFFFFF;
}

.whitebg {
    background-color: #ffffff;
}


