<div class="row">
    <div class="col-sm-12">
        <ul 
            class="wrapper fields-list" 
            dragula="secondbag" 
            [dragulaModel]="sortfieldLists">
            <li *ngFor="let item of sortfieldLists" class="row">
                <div class="col-sm-6" *ngIf="item.schematype != undefined && item.schematype == 'disposition'">
                    <input
                        (change)="checkUncheckSortEvent($event)"
                        [checked]="item.display"
                        type="checkbox" 
                        [value]="item.fieldname"> 
                         
                        <span style="font-weight: bold"> {{item.formname}} >> </span>
                        {{item.displayname}} 
                </div>
                <div class="col-sm-6" *ngIf="item.schematype == undefined">
                    <input
                        (change)="checkUncheckSortEvent($event)"
                        [checked]="item.display"
                        type="checkbox" 
                        [value]="item.fieldname"> 
                        <span style="font-weight: bold" *ngFor="let item2 of item.pfields"> {{item2}} >> </span>
                        {{item.displayname}}
                </div>
                <div class="col-sm-5" *ngIf="item.display">

                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Select Sort Order"  (selectionChange)="orderChange($event, item.fieldname)">
                            <mat-option   value="-1">
                                {{   langResourceValue['ascending'] ? langResourceValue['ascending'] : 'ascending'}}
                            </mat-option>
                            <mat-option value="1">
                                {{   langResourceValue['descending'] ? langResourceValue['descending'] : 'descending'}}
                            </mat-option>
                        </mat-select>   
                    </mat-form-field> 
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
            <button class="swal2-confirm btn btn-success" type="button" (click)="saveSortedValue()">
                {{   langResourceValue['save'] ? langResourceValue['save'] : 'Save'}}
            </button>
            <button class="swal2-cancel btn btn-danger" type="button" data-dismiss="modal">
                {{   langResourceValue['cancel'] ? langResourceValue['cancel'] : 'Cancel'}}
            </button>
    </div>
</div>