<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-xl-1 col-xl-10">
                <h3 class="card-title">
                    Internal Notifications
                </h3>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="offset-xl-1 col-xl-10">
                                <div class="loader" *ngIf="isLoading">
                                    <svg class="circular" viewBox="25 25 50 50">
                                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                                            stroke-miterlimit="10" />
                                    </svg>
                                </div>
                                <ng-container *ngIf="!isLoading">
                                    <div class="mb-3"
                                        *ngIf="internalnotificationList.solutiontype.includes(_loginUser.branchid.solutiontype)">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h4 class="card-title">Email/SMS Notifications</h4>
                                            </div>

                                        </div>&nbsp;

                                        <div class="d-flex mb-3">
                                            <div class="flex-grow-1">
                                                <h5>{{internalnotificationList?.title}}</h5>
                                                <div>{{internalnotificationList?.action?.email[0]?.title}}:</div>

                                                <div *ngIf="isChecked">
                                                    <h5 class="mt-3">User/Role</h5>
                                                    <div *ngFor="let role of roleList">

                                                        <section class="example-section">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    {{role?.rolename}}
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <mat-checkbox class="example-margin">Email
                                                                    </mat-checkbox>
                                                                    <mat-checkbox class="example-margin">SMS
                                                                    </mat-checkbox>
                                                                </div>
                                                            </div>
                                                        </section>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="ml-2">
                                                <mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <button class="btn btn-default btn-full-width" type="button">
                                    <i class="material-icons">close</i>Cancel
                                </button>
                                <button class="btn btn-primary ml-2" type="button">
                                    <i class="material-icons">save</i>Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>