$green-card-bg:#26A264;
$red-card-bg:#BC2D2D;
$orange-card-bg:$brand-primary;
$blue-card-bg:$brand-secondary;



/* login */
$dark-theme-bg-primary:#2F408F;
$dark-theme-color-primary:#FFFFFF;
$dark-theme-color-secondary:#F29016;

$light-theme-bg-primary:#FFFFFF;
$light-theme-color-primary:#333333;

.login-full-page {
    height: auto;
    min-height: 100vh;

    .container.login-container {
        padding-top: 6vh !important;
    }

    .container.usercheckin-container {
        padding-top: 16vh !important;
    }
}


@mixin login-footer {
    bottom: 0;
    width: 100%;
    left: 0;
    color:#ffffff;
    z-index: 1;   
}

@include media-breakpoint-up(md) { 
    .login-footer {
		position: absolute;
		@include login-footer;
	}
}

@include media-breakpoint-down(sm) { 
    .login-footer {
		position: relative;
		@include login-footer;
	} 
}

@mixin login-shape-objects {
	background-color: $light-theme-bg-primary;
	position: absolute;
    opacity: 0.09;	
    z-index: -1;
}
@mixin login-shape-border-radius($topsize, $rightsize, $leftsize, $bottomsize) {
    border-radius: $topsize $rightsize $leftsize $bottomsize;
 }
 @mixin login-dots-combo {
    background-image: url(../../img/dots-hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: auto;
    z-index: -1;
    width: 190px;
    height: 190px;  
}
@mixin login-form-control {
	background-color:#fbfbfd;	
	border: 1px solid #eef0fd;
	color:$light-theme-color-primary;
	border-radius: 5px;
	font-weight: normal;               
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	font-family: inherit;
}
.login-toggler {
    .icon-bar {
        background: #ffffff !important; 
    }
}

/* login */

@media (max-width:414px) {
	/* shapes */
    .top-right-square {
        @include login-shape-objects;
        @include login-shape-border-radius(0,0,34px,34px);	
        left: auto;
        right: 5%;	
        top: 0;
        width: 281px;
        height: 284px;	
    }
    .bottom-right-round-square {
        @include login-shape-objects;
        @include login-shape-border-radius(90px,0,0,90px); 
        left: auto;
        right: -7%;    
        top: auto;
        bottom: 70px;
        width: 180px;
        height: 90px;    
        transform: rotate(-22deg);
    }
    .bottom-left-round-square-1 {
        @include login-shape-objects;
        @include login-shape-border-radius(0,90px,90px,0);    
        right: auto;
        left: -9%;    
        top: auto;
        bottom: 80px;
        width: 180px;
        height: 90px;    
        transform: rotate(-22deg);
    }
    .bottom-left-round-square-2 {
        @include login-shape-objects;
        @include login-shape-border-radius(0,90px,90px,0);    
        right: auto;
        left: -5%;    
        top: auto;
        bottom: -5px;
        width: 270px;
        height: 90px;    
        transform: rotate(-22deg);    
    }
    .top-left-dots {    
        @include login-dots-combo;
        left: 34%;    
        top: 54px;    
    }
/* shapes */
	
}
@media (min-width:415px) and (max-width:767px) {
	/* shapes */
    .top-right-square {
        @include login-shape-objects;
        @include login-shape-border-radius(0,0,34px,34px);  	
        left: auto;
        right: 5%;	
        top: 0;
        width: 281px;
        height: 284px;	
    }

    .bottom-right-round-square {
        @include login-shape-objects;
        @include login-shape-border-radius(90px,0,0,90px);   
        left: auto;
        right: -7%;    
        top: auto;
        bottom: 70px;
        width: 270px;
        height: 130px;    
        transform: rotate(-22deg);
    }
    .bottom-left-round-square-1 {
        @include login-shape-objects;
        @include login-shape-border-radius(0,90px,90px,0);   
        right: auto;
        left: -9%;   
        top: auto;
        bottom: 110px;
        width: 270px;
        height: 130px;   
        transform: rotate(-22deg);
    }
    .bottom-left-round-square-2 {
        @include login-shape-objects;
        @include login-shape-border-radius(0,90px,90px,0);   
        right: auto;
        left: 0%;   
        top: auto;
        bottom: -15px;
        width: 310px;
        height: 130px;    
        transform: rotate(-22deg);    
    }
    .top-left-dots {
        @include login-dots-combo;
        left: 43%;     
        top: 54px;    
    }

/* shapes */
		
}


@include media-breakpoint-only(md) {
	/* shapes */
    .top-right-square {
        @include login-shape-objects;
        @include login-shape-border-radius(0,0,34px,34px);  	
        left: auto;
        right: 5%;	
        top: 0;
        width: 281px;
        height: 284px;	
    }

    .bottom-right-round-square {
        @include login-shape-objects;
        @include login-shape-border-radius(90px,0,0,90px);    
        left: auto;
        right: -4%;    
        top: auto;
        bottom: 70px;
        width: 340px;
        height: 130px;    
        transform: rotate(-22deg);
    }
    .bottom-left-round-square-1 {
        @include login-shape-objects;
        @include login-shape-border-radius(0,90px,90px,0); 
        right: auto;
        left: -7%;    
        top: auto;
        bottom: 110px;
        width: 340px;
        height: 130px;    
        transform: rotate(-22deg);
    }
    .bottom-left-round-square-2 {
        @include login-shape-objects;
        @include login-shape-border-radius(0,90px,90px,0);     
        right: auto;
        left: 0%;    
        top: auto;
        bottom: -15px;
        width: 400px;
        height: 130px;    
        transform: rotate(-22deg);    
    }
    .top-left-dots {
        @include login-dots-combo;
        left: 43%;     
        top: 54px;     
    }
/* shapes */
  	
}
@include media-breakpoint-only(lg)  {
	/* shapes */
    .top-right-square {
        @include login-shape-objects;
        @include login-shape-border-radius(0,0,34px,34px);  
        left: auto;
        right: 5%;
        top: 0;
        width: 281px;
        height: 284px;
    }
    .bottom-right-round-square {
        @include login-shape-objects;
        @include login-shape-border-radius(90px,0,0,90px);         
        left: auto;
        right: -4%;    
        top: auto;
        bottom: 90px;
        width: 430px;
        height: 130px;    
        transform: rotate(-22deg);
    }
    .bottom-left-round-square-1 {
        @include login-shape-objects;
        @include login-shape-border-radius(0,90px,90px,0); 
        right: auto;
        left: -7%;    
        top: auto;
        bottom: 90px;
        width: 430px;
        height: 130px;    
        transform: rotate(-22deg);
    }
    .bottom-left-round-square-2 {
        @include login-shape-objects;
        @include login-shape-border-radius(0,90px,90px,0); 
        right: auto;
        left: 0%;    
        top: auto;
        bottom: -15px;
        width: 540px;
        height: 130px;    
        transform: rotate(-22deg);    
    }
    .top-left-dots {
        @include login-dots-combo;
        left: 61%;     
        top: 90px;     
    }
/* shapes */  	
}
@include media-breakpoint-up(xl) {
    /* shapes */    
    .top-right-square {
        @include login-shape-objects;
        @include login-shape-border-radius(0,0,34px,34px);        
        left: auto;
        right: 22%;    
        top: 0;
        width: 281px;
        height: 284px;        
    }    
    .bottom-right-round-square {
        @include login-shape-objects;
        @include login-shape-border-radius(90px,0,0,90px);        
        left: auto;
        right: -4%;    
        top: auto;
        bottom: 90px;
        width: 540px;
        height: 180px;    
        transform: rotate(-22deg);
    }
    .bottom-left-round-square-1 {
        @include login-shape-objects;
        @include login-shape-border-radius(0,90px,90px,0);        
        right: auto;
        left: -7%;    
        top: auto;
        bottom: 90px;
        width: 540px;
        height: 180px;    
        transform: rotate(-22deg);
    }          
    .bottom-left-round-square-2 {
        @include login-shape-objects;
        @include login-shape-border-radius(0,90px,90px,0);      
        right: auto;
        left: 0%;        
        top: auto;
        bottom: -62px;
        width: 612px;
        height: 180px;    
        transform: rotate(-22deg);    
    } 

    .top-left-dots {
        @include login-dots-combo;
        left: 61%;        
        top: 110px;         
    }

/* shapes */ 
}
.membroz-form  {
    .form-group {
        .form-control {                
            font-size: 18px;                
            line-height: 30px;
            height: 52px;
            padding: 10px 30px 10px 20px; 
            @include login-form-control;              
        }
        .form-control::placeholder {
            line-height: 1.5 !important;
            font-size: 18px !important;
        } 
        textarea.form-control {
            height: auto !important;
        }
        select.form-control.is-valid, .was-validated select.form-control:valid {
            background-position: right calc(.375em + 1.25rem) center;
        }
        .form-control:focus {
            background:$dark-theme-color-primary;
            -webkit-box-shadow: 0px 15px 30px 0px rgba(8, 22, 113, 0.06);
            box-shadow: 0px 15px 30px 0px rgba(8, 22, 113, 0.06);
        }  
    }    
}

.landing-main {
	background-color: $dark-theme-bg-primary;	
	padding: 15px 0 20px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	
}
.landing-head {	
	line-height: 1.4;
	color:$dark-theme-color-primary;
}
.landing-intro {
	font-family: inherit;	
	font-weight: normal;
	font-size: 22px;
	color:$dark-theme-color-primary;
	line-height: 1.6;
}


.landing-box {
	flex-grow: 1;
	background: $dark-theme-color-primary;
	 border-radius: .25rem;
  -webkit-box-shadow: 0px 40px 80px 0px rgba(8, 22, 113, 0.61);
          box-shadow: 0px 40px 80px 0px rgba(8, 22, 113, 0.61);
	margin-bottom: 30px;
}

.header-inner {
    width: 100%;
    position: reltive;
}

.membroz-menu {
    background: transparent !important;
    box-shadow: none;
    .navbar-nav {
        .nav-link  {
            font-family: inherit;
            font-size: 18px !important;
            font-weight: normal;
            color: $dark-theme-color-primary !important;
            text-transform: capitalize !important;
        }
    }
}
.copy-link {
	color:$dark-theme-color-primary;
}
.copy-link:hover, .copy-link:active, .copy-link:focus {
	color: $brand-primary;
}
/* login */

/* grid listing */
.mat-table {
    font-family:inherit !important;
}
.table-membroz {
    box-shadow:none !important;
    margin-bottom: 15px;
    .mat-sort-header-arrow {
        color: $white-color;
    }
     thead > tr > th {
        color: #fff;
        background-color: $brand-secondary;
        border-color:$brand-secondary;
        font-size: 14px;
        font-weight: 500;
    }
    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
        padding-left: .75rem !important;
    }
    th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
        padding:0.5rem .75rem !important;
    }
    .mat-button.btn, .mat-raised-button.btn, .mat-raised-button.btn:not([class*="mat-elevation-z"]), .btn {
        margin: 0 3px !important;
    }
}
.table-hover tbody tr:hover {    
    background-color: #f7faff;
}
.table-membroz tbody tr.active {    
    background-color: lighten($brand-primary, 49.52%);
}
.mat-tooltip {
    font-family:inherit !important;
    font-size: 13px !important;
  }
  .advance-filter-main {
    background-color: lighten($brand-primary, 49.52%);
    border-radius: 15px;
    margin-bottom: 15px;
    padding:0 15px;
  }

 .btn-search-grid {
    height: 38px !important;
    line-height: 38px !important;
    min-width: 50px !important;
    border-radius: 0.2rem !important;
 }
 .action-justify-content-end {
    &.Action {
       > div {
            justify-content: end !important;
         }
    }

 }
/* grid listing */
/* form details */

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background: $brand-primary !important;
}
.mat-option.mat-active, .mat-select-panel .mat-option.mat-selected, .mat-option.mat-selected:hover, .mat-option.mat-selected {
    background: $brand-primary !important;
    color: $white-color !important;
}
ngx-intl-tel-input {
    .form-control, .is-focused .form-control {
        background-image: linear-gradient(to top, $brand-primary 2px, rgba(245, 124, 0, 0) 2px), linear-gradient(to top, #949494 1px, rgba(210, 210, 210, 0) 1px);
    }
    .iti {
        width: 100% !important;
        li.iti__country:hover {
            background-color: $brand-primary !important;
            color: $white-color !important;
            .iti__dial-code {
                color: $white-color !important;
            }
        }
       
    }
}

angular-editor {
    .angular-editor-textarea {
        margin-top: 0 !important;
        min-height: 180px !important;
        max-height: 320px;
    }
}

.angular-editor-toolbar {
    font: 100 .8rem/15px poppins !important;
}
.angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button {    
    border-radius: 4px;
}
.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
    background-color: transparent !important;   
}
.mat-form-field, .mat-select, .mat-option .mat-option-text {
    font-family: poppins !important;
}
.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    font-family: poppins !important;    
}
.upload-tag {  
    color: #393837;
    font-size: 14px;	
    font-weight: 400;
    line-height: 18px;
    background-color: lighten($brand-primary, 46.24%);
    width: 100%;
    padding: 5px 15px;	
    text-transform: inherit;
    border-radius:0.2rem;
      
  }
  /* form details */
  /* member profile */
  .profile-avatar-img {
      width: 48px;
      height: 48px;
  }
 .font-18 {
     font-size: 18px !important;
 }
 .font-14 {
    font-size: 14px;
}

 .font-500 {
     font-weight: 500;
 }
 .font-bold {
    font-weight: bold;
}

 
 .member-profile-main {    
    .member-profile-item:last-child:hover, .active:last-child {
        background-color: lighten($brand-primary, 49.52%);
        border-radius: 0 0 6px 6px;
    }
    .member-profile-item:hover, .active {
        background-color: lighten($brand-primary, 49.52%);
    }
 }
 
 @include media-breakpoint-up(lg) { 
    .member-profile-card {
        min-height: calc(100vh - 85px);
     }
     
  }

  .membership-details {
      
      bottom: 13px;
      left: 13px;
      right: 13px;
      width: 100%;
      background-color:$red-700;
      padding: 5px 10px;
      color: $white-color;
      
  }
  .member-addon-title {
      font-size: 10px;
      line-height: 14px;
      color: lighten($white-color, 90%);
  }
  .member-profile-img-border {
      border: 13px solid rgba(47, 64, 143, .23);
      border-radius: 7px;
  }
  .member-name {
      font-size: 31px;
      font-weight: normal;
      span {
          color: $brand-primary;
          font-size: 22px;
      }
  }
 
  @media (min-width:1601px) {
    .member-img-xl-px {
        padding-left: 35px;
        padding-right: 20px;
     }
  }
  
  .brand-secondary {
      color:$brand-secondary;
  }
.svg-fill-stroke-primary-icon  {
    stroke: $brand-primary;
    fill: $brand-primary;
}
.svg-fill-primary-icon  {    
  fill: $brand-primary;
}
.svg-stroke-primary-icon  {
  stroke: $brand-primary;    
}
  
.svg-fill-stroke-secondary-icon  {
      stroke: $brand-secondary;
      fill: $brand-secondary;
 }
.svg-fill-secondary-icon  {    
    fill: $brand-secondary;
}
.svg-stroke-secondary-icon  {
    stroke: $brand-secondary;    
}

.svg-fill-stroke-gray-icon  {
    stroke: lighten($gray-base, 79.5%); // #cbcbcb
    fill: lighten($gray-base, 79.5%); // #cbcbcb
}
.svg-fill-gray-icon  {    
  fill: lighten($gray-base, 79.5%); // #cbcbcb
}
.svg-stroke-gray-icon  {
  stroke: lighten($gray-base, 79.5%); // #cbcbcb 
}
.svg-stroke-dark-gray-icon  {
    stroke: lighten($gray-base, 20%); // #333333 
}
.svg-fill-dark-gray-333-icon  {
    fill: lighten($gray-base, 20%); // #333333 
}
$green-custom:#28B15F;

.svg-stroke-green-custom-icon  {
    stroke: $green-custom; 
}
.svg-fill-green-custom-icon  {
    fill: $green-custom; 
}

 

.svg-fill-green-icon  {    
    fill: $green-800;
  }
  .svg-stroke-green-icon  {
    stroke: $green-800;
  }
.card {  
    &.mnh-230 {
        min-height: 230px; 
    }
    &.mnh-200 {
        min-height: 200px; 
    }     
    .card-head-membroz {
        background-color:$brand-secondary;
        color: $white-color;
        font-size: 18px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .card-head-membroz:first-child {
        border-radius: 6px 6px 0 0;
    }
    .font-13 {
        font-size: 13px;
        line-height: 18px;
    }
    .item-light-gray-color {
        color: #5C5C5C;
    }
    .activity-item-list {
        margin-bottom: 0;
        li {
            padding:10px 15px;            
            border-bottom: 1px solid #dee2e6 !important;
        }
        li:last-child {                       
            border-bottom: none !important;
        }
    }
}

/* mat-expansion-panel */
.mat-form-field + .mat-form-field {
    margin-left: 8px;
 }
 .mat-accordion {
    .mat-expansion-panel {
        overflow: unset;
    }
    .mat-expansion-panel:last-of-type {
        border-bottom-right-radius: 6px !important;
        border-bottom-left-radius: 6px !important;
    }
    .mat-expansion-panel:first-of-type {
        border-top-right-radius: 6px !important;
        border-top-left-radius: 6px !important;
    }
    .mat-expansion-panel:not([class*="mat-elevation-z"]) {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    }
    // .mat-expansion-panel-header-description {
    //     font-family: poppins;
    //     font-size: .5rem;
    //     font-weight: bold;
    // } 
    .mat-expansion-indicator::after {
        color: $brand-primary;
    }
    .mat-expansion-panel-header {
        font-family: poppins;
        font-size: 1.25rem;
        font-weight: bold;
        padding: 0 15px;
    }
    .mat-expansion-panel-header.mat-expanded {
        height: 55px;
    }
    .mat-expansion-panel-body {
        padding: 0 15px 15px;
    }
    .mat-expansion-panel-content {
        font: 400 16px/1.1 poppins !important;        
    }

 }

 
/* mat-expansion-panel */
/* mat-button-toggle */

.mat-button-toggle-appearance-standard {
    .mat-button-toggle-label-content {
        line-height: 36px;
        font-weight: 500;
    }
}
/* mat-button-toggle */

.border-outer-secondary {
    border: 1px solid $brand-secondary;
    border-radius: 20px;
}

.table-membroz-plain {
    box-shadow:none !important;
    margin-bottom: 15px;
    margin-top: 15px;   
    
     thead > tr > th {    
        font-size: 14px;
        font-weight: bold;
        background-color: lighten($brand-primary, 47.52%);
    }
    mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
        border-bottom-color: transparent !important;
    }
    tr.mat-header-row {
        height: auto !important;
    }
    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
        padding-left: .75rem !important;
    }
    th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
        padding:0.5rem .75rem !important;
    }
    .mat-button.btn, .mat-raised-button.btn, .mat-raised-button.btn:not([class*="mat-elevation-z"]), .btn {
        margin: 0 3px !important;
    }
}

.mat-tab-label {
    opacity: 1 !important;
}
.mat-tab-label, .mat-tab-link {
    font-family: poppins !important;
    font-size: 16px;
    font-weight: bold;
}
.mat-tab-group{
    font-family: inherit !important;
}

.mat-tab-body-content {   
       overflow: hidden !important;
       height: 100%;
 }
// .mat-tab-body-content {   
//     overflow: unset !important;
// }

// .mat-tab-body.mat-tab-body-active {    
//     overflow-x: unset !important;
//     overflow-y: unset !important;    
// }   
// frontdesk issue with few last card item hidden so apply where ever it need with custom class

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $brand-primary;
}

mat-expansion-panel {    
    &.mat-expansion-panel
    {
        .mat-expansion-panel-content {
            overflow: hidden !important;      
        }
    }
} 
mat-expansion-panel {    
    &.mat-expansion-panel.mat-expanded
    {
        .mat-expansion-panel-content {
            overflow: unset !important;      
        }
    }
} 

.mat-tab-nav-bar, .mat-tab-header {
    border-bottom: none !important;
}
.mat-tab-label {      
    &.mat-tab-label-active {
        color: $brand-primary !important;
    }
}

.profile-img-edit {
    position: absolute !important;
    top: 0;
    left: 0;
}

.profile-img-delete {
    position: absolute !important;
    top: 0;
    right: 0;
}

.arrow-steps .step {
    padding: 10px 10px 10px 20px !important;
    min-width: 144px !important;
    color: #333333 !important;
}
.arrow-steps .current.step {   
    color: #ffffff !important;
}

.arrow-steps .step::after, .arrow-steps .step::before {    
    border-top: 22px solid transparent !important;
    border-bottom: 22px solid transparent !important;    
}
.arrow-steps .step::before {   
    border-left: 17px solid #eee !important;   
}
  /* member profile */

  /* page index */

 .membroz-row {
      margin-left: -7.5px;
      margin-right: -7.5px;
 }
 .membroz-col {
     padding-left: 7.5px;
     padding-right: 7.5px;
 }

.index-box-title {
    font-size: 16px;
    font-weight: bold;
    color: $brand-primary;    
}
.index-box-desc {    
    color:$black-color;
    font-size: 14px;    
    font-weight: normal;
}
.index-box-list {
    margin-bottom: 0;
}
.index-box-list > li:first-child {
    padding-top: 0;
}
.index-box-list > li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
.index-box-list > li {
    border-bottom: 1px solid #dddddd;    
    padding: 15px 0;
}
.index-box-list > li > a {
    text-decoration: none;
}
.index-box-list > li > a:hover, .index-box-list > li > a:focus {
    text-decoration: none;
}


/* page index */
/* import wizard */
.wizard-upload-main {
    border: 1px solid #949494;
    border-radius: 15px;
    padding:25px 15px;
}
.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0, 0, 0, 0.01);
}
.font-50 {
    font-size: 50px;
}
.alternative-light-blue {
    background-color: rgba(0, 0, 0, 0.01);
}
/* import wizard */
/* add product */
@mixin max-width-height-100px {
    max-width: 100px !important;
    max-height: 100px !important;    
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;    
   // width: auto;
    //height: auto;
}
.add-img-text {
    font-size: 12px;
    white-space: nowrap;
}
.add-upload-main {
    border: 1px solid #949494;
    border-radius: 4px;
    padding:10px 5px;
    display: table-cell;
    vertical-align: middle;
}
.add-upload-inner-vcenter {
    display: table;    
    height: 100px;
    width: 100px;
    max-width: 100px !important;
    max-height: 100px !important;    
    
}
.img-add-product {
    border-radius: 4px;   
    @include max-width-height-100px;  
}
.img-add-product-delete {
    position: absolute;
    right: 0;
    top: 0;
    button {
        width: 25px !important;
        height: 25px !important;
        margin: 0 !important;
        line-height: 25px !important;
        min-width: 25px !important;
        .material-icons {
            line-height: 25px !important;
            color: #333333;
        }
    }
}
.swal2-title {
    color: inherit !important;
    font-size: 1.5rem !important;
}
.swal2-content {
    color: inherit !important;
}
/* add product */
/* add service */
.font-16 {
    font-size: 16px;
}
.badge-staff-name {
    border-radius: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    font-size: 25px;
    font-weight: 500;
    color: #333333;
    background-color: lighten($brand-primary, 46.24%);
}
.card-border{
    border: 1px solid #949494;
    border-radius: 4px;
    box-shadow: none !important;
    margin-bottom: 0;
    .card-body-10 {
        padding: 10px;

        
        .staff-avatar-img {
            width: 54px;
            height: 54px;
        }
    }
}
.staff-title {
    font-size: 14px;
    font-weight: 500;
}
.staff-avatar-available-img {
    width: 50px;
    height: 50px;
}
.badge-staff-available-name {
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: 500;
    color: #333333;
    background-color: lighten($brand-primary, 46.24%);
}
/* add service */
/* calendar */
.mat-button-toggle {
    font-family: inherit !important;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}
.mat-button-toggle-checked {
    background-color:$brand-primary !important;
    color: $white-color !important;
}
.mat-button-toggle-standalone, .mat-button-toggle-group {
    border-radius: 5px !important;
}
/* calendar */
/* pos */
.table-pos td, .table-pos th {
    padding: .36rem .75rem !important;
}
.card-item-gutters {
    margin-left:-5px;
    margin-right:-5px;	
}
.card-item-gutters > [class*="col-"] {
    padding-left:5px;
    padding-right:5px;	
}
.categories-tab-content .card-img-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

@media (min-width:1601px)  { 
    .card-img-size {
        width: 100%;
        height: 127px;
        object-fit: cover;
        object-position: center;
    }
}
@media (min-width:1441px) and (max-width:1600px) { 
    .card-img-size {
        width: 100%;
        height: 115px;
        object-fit: cover;
        object-position: center;
    }
}
@media (min-width:1366px) and (max-width:1440px)  { 
    .card-img-size {
        width: 100%;
        height: 81px;
        object-fit: cover;
        object-position: center;
    }
}
@media (min-width:1200px) and (max-width:1365px)  { 
    .card-img-size {
        width: 100%;
        height: 75px;
        object-fit: cover;
        object-position: center;
    }
}
@media (min-width:1025px) and (max-width:1199px)  { 
    .card-img-size {
        width: 100%;
        height: 125px;
        object-fit: cover;
        object-position: center;
    }
}
@media (min-width:576px) and (max-width:1024px)  { 
    .card-img-size {
        width: 100%;
        height: 115px;
        object-fit: cover;
        object-position: center;
    }
}
@media (max-width:575px) {
    .card-img-size {
        width: 100%;
        height: 125px;
        object-fit: cover;
        object-position: center;
    }
}

.pos-item-hover {
    background-color:$brand-primary;
    color:$white-color;	
 }
.pos-menu-card {
    border: 1px solid #eeeeee !important;
    margin-top: 0;
    margin-bottom: 10px;
}
.pos-menu-card:hover, .pos-menu-card.selected {
    border: 1px solid #28a745 !important;
}
    
.box-item-selected {
    background-color: #28a745;
    border-radius: 0 4px 0 4px;
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categories-tab-content img.card-img-top {
    max-width: 100%;
    height: 160px;
    object-fit: fill; 	
}
.card-item-title {
    font-size:14px;
    font-weight:500;
    line-height: 1.26;
}
.card-item-price {
    font-size:14px;
    font-weight:bold;	
}
.customer-name-p {
    padding: .75rem;
}


/* payment method */
.white-box-full-order {
    display: flex;
    flex-direction: column;
    align-items: stretch;	    
}     
.payment-box  {
    border: 1px solid #dee2e6;	
    padding: .75rem;
    border-radius: 5px;	
.mat-radio-label {
    margin-bottom: 0 !important;
}
    label {
        font-size: 16px;
    }
}
    
/* payment method */

@include media-breakpoint-up(lg) { 
    .pos-itembill-card {
        min-height: calc(100vh - 164px);
     }    
     .white-box-full-order {       
        min-height: calc(100vh - 87px);		
    }     
}

@include media-breakpoint-up(md) { 
    .pos-itembill-card {
        min-height: calc(100vh - 164px);
     }    
     .white-box-full-order {        
        min-height: calc(100vh - 87px);		
    }  

 }

.mat-checkbox {
    font-family: inherit !important;
}
.mat-radio-button {
    font-family: inherit !important;
}
.font-16  {
    font-size: 16px !important;
}

.badge-customer-name {
    border-radius: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    font-size: 16px;
    font-weight: bold;
    color:$white-color;
    background-color: $brand-secondary;
}
.fd-customer-title {
    font-size: 16px;
    font-weight: bold;
}
.font-12 {
    font-size: 12px;
}
.time-gray-color  {
    color: lighten($gray-base, 59.9%); // #999 
  }

.frontdesk-tab-card {
    > .mat-tab-header {
        border: 0;
        margin-bottom: 15px;
        margin-top: 15px;
        border-radius: $border-radius-large;
        color: $gray-dark;
        background: $white-color;
        width: 100%;
    }
}
.pos-text-jambli {
    color: #8D33DB;
}
  /* pos */
  /* error pages */
.error-page-head {
    font-family: inherit !important;
    font-size: 124px;
    color: #333333;
    line-height: 124px;
    font-weight: bold;
} 
.error-page-head-2 {
    font-family: inherit !important;
    font-size: 32px;
    color: #333333;
    line-height: normal;
    font-weight: bold;
} 
@include media-breakpoint-up(md) { 
    .error-page-p {
        padding-top: 180px;
        padding-bottom: 180px;
    }
 }
@include media-breakpoint-down(xs) { 
    .error-page-p {
        padding-top: 50px;
        padding-bottom: 50px;
    }
 }

  /* error pages */
/* form builder */
.toolbox-list {
    &.list-group {
        .list-group-item :first-child {
            margin-right: 0;
        } 
        .list-group-item:last-child {
            border-bottom:none;
        } 
        .list-group-item {
            padding: 0;
            border-bottom: 1px solid #dee2e6;

            .list-group-item-action {
                padding:.7rem 1rem;

            }
            .list-group-item-action:hover, .list-group-item-action:focus {
                background-color: lighten($brand-primary, 49.52%);
            }

        }
    }
}
.fb-dash-border {
    border: 1px dashed #dee2e6;
    margin: 2px;
    padding:0 10px;  
} 

@include media-breakpoint-up(lg) { 
    .form-builder-card {
        min-height: calc(100vh - 215px);
     }
     
  }

  .tab-50-50 {
    .mat-tab-label {
        width: 50%;
    }
  }

 .mat-select .mat-select-value-text span {
    font-size: 16px !important;
} 

.mat-form-field  {   
    line-height: inherit !important;   
}
@include media-breakpoint-up(xl) { 
    .formfields-sticky {
        position: sticky;
        z-index: 1020;
        top: 67px;
        align-self: start;    
    }
    
 }

/* form builder */
/* Documents */
.mn-ht-100vh {
    min-height: 100vh;
}
.primary-light-bg {
    background-color: lighten($brand-primary, 49.52%);
}
.primary-light-bg-border {
    border-radius: 6px 0 0 6px;
}
.full-height-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.full-height-main-container {
    flex: 0 0 auto;
    max-width: 100%;
    display: flex;
    align-self: center;
}
.documents-list {
    &.list-group {
        .list-group-item :first-child {
            margin-right: 0;
        } 
        .list-group-item:last-child {
            border-bottom:none;
        } 
        .list-group-item {
            padding: 0;
            

            .list-group-item-action {
                padding:.7rem 1rem;

            }
            .list-group-item-action:focus, .list-group-item-action.active  {
                background-color: $brand-primary;
                color: $white-color;
                border-radius: 5px;
            }

            .list-group-item-action:hover  {
                background-color: lighten($brand-primary, 20%);  // #ffae5c;
                color: $white-color;
                border-radius: 5px;
            }

            .list-group-item:hover, .list-group-item-action:hover, .list-group-item-action.active, .list-group-item-action:focus {
                .svg-fill-dark-gray-icon  {    
                    fill: $white-color;
                }
            }

        }
    }
}

.dropdown-menu {
    z-index: 1030;
    .dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active  {
        .svg-fill-dark-gray-icon  {    
            fill: $white-color;
        }
    }
}
.svg-fill-dark-gray-icon  {    
    fill: lighten($gray-base, 44.0%); //  #707070;
}

.common-search-size {
    .mat-form-field-flex {
        width: 300px;
        padding-top: 0 !important;

        .mat-form-field-infix {            
            border-top: none !important;
        }
    }
}

$breadcrumb-divider: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+);

.breadcrumb-documents>li+li:before {
    content:$breadcrumb-divider !important;
    color: inherit !important;
}

.breadcrumb-documents  {
    border-radius: 0;
    padding: 0;    
    margin-bottom: 0;
    background-color: transparent !important;
    color: inherit;
}
.svg-fill-white-icon {
    fill: $white-color;
}
.pl-10 {
    padding-left: 10px;
}

.integrate-name-logo > img {
   width: 115px;
}
/* Documents */
/* control */
.mat-optgroup-media {
    .mat-optgroup-label {
        text-transform: uppercase !important;
    }
    .mat-option {
        line-height: normal !important;
        height: auto !important;
    }
    .mat-optgroup-label  {
        line-height: normal !important;
        height: auto !important;
        padding: 3px 16px !important;
        margin-top: 7px;
    }
}
.mat-accordion-header-auto {
    .mat-expansion-panel-header {
        min-height: 48px !important;
    }
}

.mat-tree-node-auto {
    .mat-tree-node {
         min-height: auto !important;
    }
    mat-checkbox {
        label.mat-checkbox-layout {
            margin-bottom: 0 !important;
        }
    }
}
mat-radio-button {
    &.mat-radio-label-mb-0 {
        label.mat-radio-label {
            margin-bottom: 0 !important;
        }        
    }
}

.mat-autocomplete-panel {
    min-width: 241px !important;
}


.dropdown-limit {
    max-width: 320px;
	max-height: 320px;
	overflow: auto;
}
.dropdown-limit .dropdown-item, .dropdown-limit li > a {
    white-space: normal;
}

.mat-form-field-appearance-standard  {
    .mat-form-field-flex {
        padding-top: 0 !important;
    }    
}
mat-button-toggle-group {
    flex-wrap: wrap;
}
.mat-menu-item:hover:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), .mat-menu-item.cdk-keyboard-focused:not([disabled]), .mat-menu-item-highlighted:not([disabled]) {    
    background: $brand-primary !important;
    color: $white-color;   
    .mat-icon {
        background: $brand-primary !important;
        color: $white-color;
    }    
}
mat-slide-toggle {
    &.slide-toggle-text-normal {     
        .mat-slide-toggle-content {
            white-space: normal !important;
            overflow: visible !important;            
        }        
    }
}
    


/* control */
/* attendance */
.working-bg {
    background-color: #E7F9F7;   
    background-clip: padding-box;
}
.holiday-bg {
    background-color: #FFF4E4;  
    background-clip: padding-box; 
}
.absent-bg {
    background-color: #FFF1F1; 
    background-clip: padding-box;  
}
.attend-text-green {
    color: #47CCBF;
}
.attend-text-orange {
    //color: #F8AB3B;
    color: $brand-primary;
}
.attend-text-red {
    color: #FB3E39;
}
.attend-text-yellow {
    color: #FBD500;
}
.attend-working-box {
    border: 1px solid #47CCBF;
    border-radius: 5px;
    padding: 5px 15px;
    display: inline-block;
}
.attend-holiday-box {
    border: 1px solid #F8AB3B;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
}

.attend-holiday-yellow {
    border: 1px solid #FBD500;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
}

.min-width-108 {
    min-width: 108px;
}
.attend-absent-box {
    border: 1px solid #FB3E39;
    border-radius: 5px;
    padding: 5px 15px;
    display: inline-block;
}
 
.table-attendance > thead > tr > th, .table-attendance > tbody > tr > th, .table-attendance > tfoot > tr > th, .table-attendance > thead > tr > td, .table-attendance > tbody > tr > td, .table-attendance > tfoot > tr > td {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.63);
}
/* attendance */
.ts-text-pink {
    color: #E152BF;
}
.ts-pink-box {
    border: 1px solid #E152BF;
    border-radius: 5px;
    padding: 5px 15px;
    display: inline-block;
}

/* attendance */
.ts-text-green {
    color: #008000;
}
.ts-green-box {
    border: 1px solid #008000;
    border-radius: 5px;
    padding: 5px 15px;
    display: inline-block;
}

/* timesheet */
.ts-text-blue {
    color: #3D58D4;
}
.ts-blue-box {
    border: 1px solid #3D58D4;
    border-radius: 5px;
    padding: 5px 15px;
    display: inline-block;
}
.font-36 {
    font-size: 36px;
}
/* timesheet */
/* membership*/
.ms-payment-term {
    .mat-column-period, .mat-column-taxes {
        min-width: 180px;
    }
}
/* membership*/
/* support ticket*/
.primary-light-bg-strip {
    background-color: lighten($brand-primary, 49.52%);
}


/* support ticket*/
/* org chart */
.oc-border {
    border: 2px solid #4caf50;
}
.oc-head {
    background-color:#4caf50;
    padding: 0.54em 1em !important;
    color: #ffffff;
}
.oc-body {
    padding: 0.54em 1em !important;
}
.oc-background {
  background-color: #ffffff;
  border-radius: 4px; 
}
.oc-name {
    font-family: inherit;
    white-space: nowrap;
}
.oc-designation {
    font-family: inherit;
    white-space: nowrap;
}
.btn-fab-microorg {
    height: 20px !important;
    min-width: 20px !important;
    width: 20px !important;
    border-radius: 3px !important;    
}
.oc-bdr-btm {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 2px;
    margin-bottom: 2px;
}
.oc-auto-sm-device {
   width: auto;
   overflow: auto;
}
.oc-addbtn {
    padding: 0px 0px !important;
    margin-left: 0.1rem !important;
    margin-top: 0.1rem !important;
    margin-bottom: 0.1rem !important;   
}
ng-saleschannelteam-chart, ng-saleschannel-chart {
  flex-wrap: wrap;
}
/* org chart */

.font-24 {
    font-size: 24px !important;
}
.font-22 {
    font-size: 22px !important;
}
.btn-20 {
    height: 20px !important;
    min-width: 20px !important;
    width: 20px !important;
}
.material-icons-f16-l20 {
    font-size: 16px !important;
    line-height: 20px !important;
}
.material-icons-f22-l20 {
    font-size: 22px !important;
    line-height: 20px !important;
}

/** wrap label */
.mat-checkbox-layout {
    white-space: normal !important;
  }
  
  /** keep checkbox on first line */
  .mat-checkbox-inner-container {
    margin-top: 3px !important;
  }
  
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /** wrap label ie */
    .mat-checkbox-layout {
      display: block !important;
    }
  
    .mat-checkbox-inner-container {
      margin-top: 0 !important;
    }
  }

  @include media-breakpoint-up(lg) { 
    .disposition-card {
        min-height: calc(100vh - 215px);
     }
     
  }

  /* dashboard */
.green-bg {
    background-color: #D4FBE7;
    background-clip: padding-box;
}
.orange-bg {
    background-color: #FFE9CE;
    background-clip: padding-box;
}
.blue-bg {
    background-color: #E2E7FF;
    background-clip: padding-box;
}
.red-bg {
    background-color: #FFDFE4;
    background-clip: padding-box;
}
.yellow-bg {
    background-color: #FBD500;
    background-clip: padding-box;
}
.darkgreen-bg {
    background-color: #28a745;
    background-clip: padding-box;
}
.jambli-bg {
    background-color: #8D33DB;
    background-clip: padding-box;
} 



.green-fill {
    fill: #5CD297;    
}
.orange-fill {
    fill:#F29015;  
}
.blue-fill {
    fill:#2F408F;  
}
.red-fill {
    fill:#E54D4D;  
}


.min-height-326 {
    min-height: 326px;
}
.min-height-496 {
    min-height: 496px;
}
.min-height-352 {
    min-height: 352px;
}
  /* dashboard */
  /* misc */
  .font-weight-600 {
      font-weight: 600;
  }
  .min-height-60 {
    min-height: 60px;
  } 
 
  .p-tlr-20 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }


  .fc-today-button{
    text-transform : capitalize !important;
  }

.mat-list-base.mat-list-direction-row .mat-list-item .mat-list-text, .mat-list-base.mat-list-direction-row .mat-list-option .mat-list-text {
    flex-direction: row !important;
}

.mat-list-base.mat-list-direction-row .mat-list-option {
    width: auto !important;
}
.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate {
    background: $brand-primary !important;
}
  /* misc */

  /* my plan */
 .box-card-icon {
    position: absolute; 
    right:0; 
    bottom: 30px;
 }
 /* box */
.pricing-box-head {
	font-size: 20px;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.pricing-amount {	
	font-weight: bold;
	font-size:45px; 
	line-height:45px;
}
.pricing-color-1 {
	color: #FBD500;
}
.pricing-color-2 {
	color: #22DF8C;
}
.pricing-color-3 {
	color: #B171FD;
}
.pricing-color-4 {
	color: #F29015;
}
.pricing-feature-list {
	padding-left: 0;
	list-style: none;	
}
.pricing-feature-list li {
	list-style: none;
	margin-bottom: 7px;
	text-align: center;
}
.nprice-number-cur {
	font-size: 40%;
	top: -1.0em;
	text-align: right;
}
.nprice-month {
	color: #7c7c7c;
	font-size: 15px;
	margin-bottom: 10px;
}
/* box */

  /* my plan */
/* tour package */
.tour-package-img-top {
    width: 100%;
    height: 133px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.badge-square {
    border-radius: 4px;
    padding: 6px 10px;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    line-height: 1.3;
}
.tour-place-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;  
    .tour-place-item {
        max-width:33.3333333333%;
        flex: 0 0 33.3333333333%;
        position: relative;
        width: 100%;
        padding-right: 15px;      
    }
}

.black-border-bottom  {
    border-bottom: 1px solid $black-color;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
/* tour package */

/* ws */
@mixin chk-square {
    width: 30px;
    height: 30px;    
}
.head-primary-border  {
    border-bottom: 1px solid $brand-primary;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.checkbox-green {    
    &.mat-checkbox {
        .mat-checkbox-layout {
            .mat-checkbox-inner-container {                
                @include chk-square;
                border-color: $green-500 !important;
                background-color:  $green-500 !important;
                .mat-checkbox-checkmark-path {
                    background: $white-color;
                    stroke: $white-color !important;
                }
                .mat-checkbox-frame {
                    border-color: $green-500 !important;
                }
            }
        }        
    }       
}
.checkbox-yellow {    
    &.mat-checkbox {
        .mat-checkbox-layout {
            .mat-checkbox-inner-container {
                @include chk-square;
                border-color: $orange-500 !important;
                background-color: $orange-500 !important;
                .mat-checkbox-checkmark-path {
                    background: $white-color;
                    stroke: $white-color !important;
                }
                .mat-checkbox-frame {
                    border-color: $orange-500 !important;
                }
            }
        }        
    }
}
.checkbox-red {
    &.mat-checkbox {
        .mat-checkbox-layout {
            .mat-checkbox-inner-container {
                @include chk-square;
                border-color: $red-500 !important;
                background-color: $red-500 !important;
                .mat-checkbox-checkmark-path {
                    background: $white-color;
                    stroke: $white-color !important;
                }
                .mat-checkbox-frame {
                    border-color: $red-500 !important;
                }
            }
        }        
    }
}
@mixin job-card-status-common {
    font-size: 13px;
    font-weight: bold;
    padding: 4px 13px;
    border-radius: 5px; 
    display: inline-block;
}
.job-card-front-main {
    .job-card-label {
        font-size: 12px;
        line-height:16px;
    }
    .job-card-link {
        color:$white-color;  
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        &:hover {
            text-decoration: underline;            
        }
    }
    
    .card-sticky-item-main {
        display: table;
        width: 100%;
        height: 100%;
        .card-sticky-item-footer {
            display: table-row; 
            vertical-align: bottom !important; 
            height: 1px;
            width: 100%;
        }
    }

    .card-green {
        background-color: $green-card-bg;
        color:$white-color;          
        .job-status-green {
            background-color:#E5FFF2;
            color:$green-card-bg; 
            @include job-card-status-common;
        }  
        
        .job-status-red {
            background-color:#FFE6EA;
            color:$green-card-bg; 
            @include job-card-status-common;
        }  
    }
    .card-red {
        background-color: $red-card-bg;
        color:$white-color;         
        .job-status-red {
            background-color:#FFE6EA;
            color:$red-card-bg; 
            @include job-card-status-common;
        } 
        
    }
    .card-blue {
        background-color: $blue-card-bg;
        color:$white-color;         
        .job-status-blue {
            background-color:#E2E7FF;
            color:$blue-card-bg; 
            @include job-card-status-common;
        } 
    }
    .card-orange {
        background-color: $orange-card-bg;
        color:$white-color;          
        .job-status-orange {
            background-color:#FEECD8;
            color:$orange-card-bg; 
            @include job-card-status-common;
        } 
    }
    .card-progress-back-bg {
        background: rgba(255,255,255,0.36);
        border-radius: 5px;
        height: 6px;
        .progress-bar  {
            background-color: $white-color;
        }
    }
}

.job-card-task-main {
    .job-card-label {
        font-size: 12px;
        line-height:16px;
    }

    .dash-bdr-bg-light {
        border: 1px dashed #dddddd;
        background-color: $white-color;
        border-radius: 6px;
    }

    .card-sticky-item-main {
        display: table;
        width: 100%;
        height: 100%;
        .card-sticky-item-footer {
            display: table-row; 
            vertical-align: bottom !important; 
            height: 1px;
            width: 100%;
        }
    }
}

/* gs */
.link-list > li {
    margin-bottom: 10px;
}
.link-list > li:last-child {
    margin-bottom: 0;
}
.setup-progressbar {
    height: 16px !important;
    border-radius: 4px !important;
}
/* gs */

/* ws */
.mat-form-field-space-remove {
    margin-top: -1.00em;
    margin-bottom: -1.00em;
}

.inside-autocomplete-m-remove {
    mat-form-field.mat-form-field {
        margin-top: -1.00em;
        margin-bottom: -1.00em;
    }
}

/* free trial bar */
@media (max-width:767px) {
    #ofBar {
        padding: 50px 20px 20px;       
    }
    #btn-bar {
        display: block;
        margin-top: 10px;
        margin-left: 0;
    }
}
@media (min-width:768px) {
    #ofBar {        
        padding: 18px 5%;
    }  
    #btn-bar {
        margin-left: 15px;
    }
}

#ofBar {
    background: linear-gradient(135deg, $brand-primary 25%, $brand-primary 90%);
    text-align: center;
    z-index: 999999999;
    font-size: 16px;
    color: $white-color;    
    font-weight: 400;
    display: block;
    position: fixed;
    top: 0px;
    box-shadow: 0 6px 13px -4px rgba(0, 0, 0, 0.25);
    width: 100%;
    
}
#btn-bar {
    opacity: 1;
}
#btn-bar {
    background-color: $white-color;
    color: #40312d;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    opacity: .95;    
    top: 0px;
    position: relative;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 5px 10px -3px rgba(0,0,0,.23), 0 6px 10px -5px rgba(0,0,0,.25);
}
#close-bar {
    font-size: 22px;
    color: #3e3947;
    margin-right: 0;
    position: absolute;
    right: 5%;
    background: $white-color;
    opacity: 0.5;
    padding: 0px;
    height: 25px;
    line-height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    top: 18px;
    cursor: pointer;
    z-index: 9999999999;
    font-weight: 400;
}
/* free trial bar */

.btn-square-plr {
    padding-left: 9px;
    padding-right: 9px;
}

.secondary-bg-white-color {
    background-color:$brand-secondary;
    color: $white-color;
}

@media (max-width:406px) {
    .oly-tb-width-xs {
        width: 220px !important;
    }
}

.btn-link-gray {
    background-color: transparent !important;
    color: $black-color !important; 
    box-shadow: none;

    &:hover, &:focus, &:active {
        background-color: transparent !important;
        color: $brand-primary !important; 
        box-shadow: none !important;
    }    
}
.color-gray-dark {
    color: $gray-dark;
}

.checkbox-full-width {
    label.mat-checkbox-layout {
        display: flex !important; 
        .mat-checkbox-inner-container {
            margin-right: 15px;
            margin-top: 10px !important;
        }
        span.mat-checkbox-label   {
            flex:1;
        }     
    }
}
.mat-option-hover-none {
    &:hover {
        background-color: transparent !important;
    }    
}


@media (min-width:768px) {
    .table-fix-head {
        table {
            display: flex;
            flex-flow: column;
            width: 100%;
        }
        thead {
            flex: 0 0 auto;
            tr:nth-child(1) th {
                position: sticky;
                top: 0;
                z-index: 10;
            }
            th { 
                position: sticky; 
                top: 0; 
            }        
        }  

        tbody {
            flex: 1 1 auto;
            display: block;
            overflow-y: auto;
            overflow-x: hidden;
            height: 540px;
        }     
        tr {
            width: 100%;
            display: table;
            table-layout: fixed;
        }
    }
}


  .table-scroll {
    position: relative;
    width:100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
    height: 540px;
    table {
        width: 100%;
        min-width: 610px;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
        thead {
            th:first-child {
                position: -webkit-sticky;
                position: sticky;
                left: 0;
                z-index: 7;                
              }
            th {  
                position: -webkit-sticky;
                position: sticky;
                top: 0;
                z-index: 5;
                white-space: nowrap;
              }
         }
        tbody {
            td:first-child {
               background: #fff;
               position: -webkit-sticky;
               position: sticky;
               left: 0;
               z-index: 2;
             }
             td {
                white-space: nowrap; 
             }
         }
      }
  }

 .ie-main {
    .ie-code-box {
        border: 1px dashed #999999;    
        background-color: #FBFBFF;
        padding:30px 20px;
        font-size: 43px;
        letter-spacing: 4px;
        display: inline-block;
        border-radius: 10px;
    }
    .ie-or-option {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .ie-how-list {
        margin-bottom: 0;
        padding-left: 15px;
    }
    .ie-how-list > li {
        margin-bottom: 7px;
    }
    .ie-reward-box {
        border: 1px solid $brand-secondary;
        border-radius: 10px;
        padding:20px 15px;
        text-align: center;
        .reward-head-1 {
            font-size: 27px;
            font-weight: bold;
        }
    }
 } 

 mat-date-range-input {
     &.mat-date-range-input {
        .mat-date-range-input-mirror {
            line-height: 1.45;
        }
     }
 }
 .table-membroz-div {
    color: $white-color;
    background-color: $brand-secondary;
    padding-top: 10px;
    padding-bottom: 10px;
    
 }
 
 .service-list {
    .rounded-icon {
        border: 1px solid #333;
        border-radius: 10px;
        padding: 7px;
     }
    
    
    
     
 }
   

.mat-option {
    &.mat-option-child-border {
        &:hover {
        .rounded-icon {            
            border: 1px solid $white-color;             
        } 
       }        
    }   
  }
 .mat-option-normal {
    white-space: normal !important;
 }
 .mt-minus-3 {
    margin-top: -3px;
 }
 mat-accordion {
    &.custom-mpd-half {
        .mat-expansion-panel-header-description {
            flex-grow: 1;
         }
     }
 }
 
 .user-avatar-img-70 {
    width: 70px;
    height: 70px;
}

.table-input-spin-hide {
   /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }
}

.ml-32 {
    margin-left: 32px;
}
.min-width-320 {
    min-width: 320px
}


.card-img-size-1by4 {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: top;
}

.mat-list-item {
    font-family: inherit !important;
}

/* card overlay */
.card-overlay-main {
    position:ralative; 
    overflow:hidden; 
    height:auto;
    cursor: pointer;
    &:hover {
         .card-overlay {
            top: 0;
            &.left {
                left: 0;
              }
             &.right {
                left: 0;
              }
              &.top {
                top: 0;
              }
          }          
    }
    .card-overlay{
        position:absolute; 
        left:0;  
        top: 100%;
        width:100%; height:100%;
        z-index: 1;
        transition:all 350ms cubic-bezier(0, 0, 0.2, 1);
        display:flex;
        align-items:center;
        justify-content: center;
        background-color:rgba( $brand-secondary, .18 );
        .left{  
            left:-100%;  
            top: 0;
         }
        .right{  
            left:100%;  
            top: 0;
        }
        .top{  
            left:0;  
            top: -100%;
          }
     } 
}
/* card overlay */
.blockbuilder-preview  {
    padding: 0 !important;
}