<form [formGroup]="form" (ngSubmit)="onSubmit(form.value,form.valid)" novalidate>
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="offset-xl-1 col-xl-10">
          <div class="row mt-lg-3 mt-0">
            <h3 class="card-title">
              {{getLang('createticket', 'Create Ticket')}}   {{docnumber ? '(#' + docnumber + ')' : ''}}
            </h3>
          </div>
          <div class="loader" *ngIf="isLoading">
            <svg class="circular" viewBox="25 25 50 50">
              <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
          </div>
          <div class="card" *ngIf="!isLoading">
            <div class="card-body">
              <div class="row">

                <div class="col-sm-6">
                  <label class="col-form-label">
                    {{getLang('subject', 'Subject')}}
                    <span class="text-danger">*</span>
                  </label>
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="subject">
                  </mat-form-field>
                  <div [hidden]="form.get('subject').valid || (form.get('subject').pristine && !submitted)"
                    class="text-danger">
                    <small *ngIf="form.get('subject').hasError('required')" class="error-label">
                      {{getLang('subjectisrequired', 'Subject is Required')}}
                    </small>
                  </div>
                </div>

                <div class="col-sm-6">
                  <label class="col-form-label">
                    {{getLang('category', 'Category')}}
                    
                  </label>
                  <mat-form-field>
                    <mat-select matNativeControl formControlName="category">
                      <mat-option [value]="category.code" *ngFor="let category of categoryList">
                        {{category?.code}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-sm-12">
                  <label class="col-form-label">
                    Type your message
                    <span class="text-danger">*</span>
                  </label>
                  <div class="mt-3">
                    <angular-editor [placeholder]="'Enter text here...'" formControlName="content">
                    </angular-editor>
                    <div [hidden]="form.get('content').valid || (form.get('content').pristine && !submitted)"
                      class="text-danger">
                      <small *ngIf="form.get('content').hasError('required')" class="error-label">
                        {{getLang('messageisrequired', 'Message is Required')}}
                      </small>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-sm-12">
                  <label class="col-form-label"> Attachment </label>
                  <div class="mt-3">
                    <div>
                      <img class="loading" src="assets/img/image-loader.GIF"
                        style="height: 100px; width: 100px; display: none">
                    </div>
                    <div class="btn btn-primary btn-file">
                      <label class="upload_button mb-0" for="fileupload"><i class="material-icons">cloud_upload</i>
                        Upload </label>
                      <input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'"
                        [uploader]="customeUploader" (change)="fileInput.value=''" multiple />
                    </div>

                    <div class="mt-2" *ngFor="let item of formImageArray;let i = index">
                      <span class="upload-tag badge badge-pill d-flex mb-2">
                        <span class="d-flex flex-grow-1 align-items-center">
                          <i class="material-icons d-flex align-items-center mr-2">link</i>
                          <a id="singledata_{{i}}" target="_blank" [href]="item.attachment">
                            <span> {{item.originalfilename}}.{{item.extension}}</span>
                          </a>
                        </span>
                        <i class="material-icons d-flex align-items-center justify-content-end ml-2 cursor-pointer"
                          (click)="showSwal(item.attachment)">clear</i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="row">
                <div class="col-sm-12">
                  <label class="col-form-label"> Support Role </label>
                  <div class="mt-2 row">
                    <div class="col-12">
                      <section class="example-section row">
                            <mat-checkbox class="example-margin m-0 col-md-4 col-6"
                                 *ngFor="let c of userData"
                                 [(ngModel)]="c.checked"
                                [ngModelOptions]="{standalone: true}">
                                {{c?.fullname}}
                            </mat-checkbox>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer fixed-bottom bg-white shadow-top" *ngIf="!isLoading">
    <div class="container-fluid">
      <div class="row">
        <div class="offset-xl-1 col-xl-10">
          <div class="row">
            <div class="col-sm-12 text-right">
              <button class="btn btn-default" type="button" [routerLink]="['/pages/dynamic-list/list/support']"
                [disabled]="disableButton">
                <i class="material-icons">close</i> Cancel
              </button>

              <button class="btn btn-primary ml-2" type="submit" [disabled]="disableButton">
                <i class="material-icons">save</i> Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</form>