<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="offset-xl-1 col-xl-10">
        <div class="d-flex mt-3">
          <h3 class="card-title flex-grow-1 align-self-center m-0">Timesheet</h3>
          <div class="">
            <button [disabled]="this.bindData && this.bindData.status == 'submitted'" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="AddTasks()">
              <i class="material-icons">add</i>Add New Row
            </button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-sm-6" >
                <label class="col-form-label">
                  Employee Name
                </label>

                <mat-form-field class="example-full-width" >
                  <input
                    [readonly]="this.bindId"
                    type="text"
                    matInput
                    [formControl]="selectedUser"
                    [matAutocomplete]="auto"
                    (keyup.enter)="enterSelectedUser()"
                    (click)="preloadSelectedUserdata()"
                    (change)="handleEmptySubformidInput($event)">

                  <mat-autocomplete
                    #auto="matAutocomplete"
                    [displayWith]="displaySubformidFn"
                    (optionSelected)="optionSubformidSelected($event.option)">

                    <mat-option *ngIf="selectedUserisLoadingBox" class="is-loading">
                      <mat-spinner diameter="50"></mat-spinner>
                    </mat-option>

                    <ng-container *ngIf="!selectedUserisLoadingBox && allUsers.length > 0">
                      <mat-option
                        *ngFor="let option of selectedUserfilteredOptions | async"
                        [value]="option">
                        {{option.fullname}}
                      </mat-option>
                    </ng-container>

                    <ng-container *ngIf="!selectedUserisLoadingBox && allUsers.length == 0">
                      <mat-option>
                        <span>{{getLang('norecord', 'No Record')}}</span>
                      </mat-option>
                    </ng-container>

                  </mat-autocomplete>
              </mat-form-field>

              </div>
              <div class="col-xl-3 col-lg-3 col-sm-6" >
                <label class="col-form-label">
                  Select Week
                </label>
                <mat-form-field  [formGroup]="range">
                  <mat-date-range-input [rangePicker]="picker" >
                    <input matStartDate readonly formControlName="start" (dateInput)="addNewDate()" placeholder="Start date" >
                    <input matEndDate readonly formControlName="end" placeholder="End date">
                  </mat-date-range-input>
                  <mat-datepicker-toggle *ngIf="!this.bindId" matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
              </div>
              <div class="col-xl-3 col-lg-3 col-sm-6" >
                <label class="col-form-label">
                  Timesheet Status
                </label>
                <div class="mt-3 " *ngIf="this.bindData && this.bindData.status == 'submitted'">
                  <span class="ts-text-blue ts-blue-box font-weight-bold mb-lg-0 mb-3"> Submitted </span>
                </div>
                <div class="mt-3" *ngIf="this.bindData && this.bindData.status == 'Approved'">
                  <span class="attend-text-green font-weight-bold attend-working-box mb-lg-0 mb-3"> Approved </span>
                </div>
                <div class="mt-3" *ngIf="this.bindData && !this.bindData._id">
                  <span class="attend-text-orange font-weight-bold attend-holiday-box mb-lg-0 mb-3"> Not Submitted</span>
                </div>

                <div class="mt-3" *ngIf="this.bindData && this.bindData.status == 'active'">
                  <span class="attend-text-orange font-weight-bold attend-holiday-box mb-lg-0 mb-3"> Not Submitted</span>
                </div>
                <div class="mt-3" *ngIf="this.bindData && this.bindData.status == 'Declined'">
                  <span class="attend-text-red font-weight-bold attend-absent-box mb-lg-0 mb-3"> Declined </span>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-sm-6" >
                <label class="col-form-label">
                  Total Hours
                </label>
                <div class="mt-3">
                  <span class="font-36 font-weight-bold mb-lg-0 mb-3 d-inline-block"> {{totalHoursMinutes}} </span>
                </div>
              </div>

            </div>
            <div class="row">
                <div class="col-md-12">

                  <div class="table-responsive" *ngIf="ELEMENT_DATA.length > 0">
                    <table
                      mat-table
                      [dataSource]="dataSource"
                      class="mat-elevation-z8 w-100 table-hover table-membroz">

                        <ng-container matColumnDef="task">
                          <th mat-header-cell *matHeaderCellDef> Task / Appointment </th>
                          <td mat-cell *matCellDef="let element" >  {{element.task}} </td>
                        </ng-container>

                        <ng-container [matColumnDef]="item.dayName" *ngFor="let item of this.dates">
                          <th mat-header-cell *matHeaderCellDef> {{item.dayName}} <br> {{item?.date | date: 'dd/MM'}}  </th>
                          <td mat-cell *matCellDef="let element" (dblclick)="doubleClickFunction(element, item.dayName)">
                           <a style="cursor: pointer; color: #f57c00;"> {{element[item.dayName]}} </a>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="text-right"> Action </th>
                            <td mat-cell *matCellDef="let element" class="text-right">
                              <button
                                *ngIf="this.bindData && this.bindData.status !== 'submitted'"
                                (click)="deleteRow(element)"
                                class="btn btn-link btn-primary btn-just-icon"
                                data-toggle="dropdown"
                                matTooltip="Delete"
                                [matTooltipPosition]="'above'">
                                <i class="material-icons">delete</i>
                              </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-sm-12">
                <label class="col-form-label">
                  Description
                </label>
                <mat-form-field >
                  <textarea matInput [(ngModel)]="descriptions"></textarea>
                </mat-form-field>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col-sm-12" >
                <label class="col-form-label"> Attachment  </label>
                <div >

                  <img class="loading" src="assets/img/image-loader.GIF"  style="height: 100px; width: 100px; display: none">

                  <div *ngFor="let item of formImageArray">
                    <div class="choose-photo-relative">

                      <img
                        *ngIf="item.extension == 'xlsx' || item.extension == 'xls'"
                        src="assets/img/xlsx.png"
                        style="height: 100px; width: 100px;">

                      <img
                        *ngIf="item.extension == 'doc' || item.extension == 'docx'"
                        src="assets/img/doc.png"
                        style="height: 100px; width: 100px;">

                      <img
                        *ngIf="item.extension == 'ppt' || item.extension == 'pptx'"
                        src="assets/img/ppt.png"
                        style="height: 100px; width: 100px;">

                      <img
                        *ngIf="item.extension == 'csv'"
                        src="assets/img/csv.png"
                        style="height: 100px; width: 100px;">

                      <img
                        *ngIf="item.extension == 'pdf'"
                        src="assets/img/pdf.png"
                        style="height: 100px; width: 100px;">

                      <img
                        *ngIf="item.extension !== 'xlsx' && item.extension !== 'xls' && item.extension !== 'doc' && item.extension !== 'docx' && item.extension !== 'pdf' && item.extension == 'ppt' && item.extension == 'pptx' && item.extension == 'csv'"
                        src="assets/img/others.png"
                        style="height: 100px; width: 100px;">

                      <img
                        *ngIf="item.extension == 'jpg' || item.extension == 'jpeg' || item.extension == 'gif' || item.extension == 'png' || item.extension == 'tif' || item.extension == 'tiff'"
                        [src]="item.attachment"
                        style="height: 100px; width: 100px;">

                      <i
                        class="material-icons upload-img-close"
                        (click)="removeImg(item)">cancel</i>

                      <button
                        type="button"
                        class="btn btn-primary"
                        (click)="downloadlink(item.attachment)"> Download </button>

                    </div>
                  </div>

                </div>

                <div class="btn btn-primary btn-file">

                  <label class="upload_button mb-0" for="fileupload"><i class="material-icons">cloud_upload</i> Upload </label>
                  <input
                    type="file"
                    id="fileupload"
                    #fileInput
                    ng2FileSelect
                    [style.display]="'none'"
                    (change)="fileInput.value=''"
                    multiple />
                </div>
                <div class="mt-2" >
                  <span class="upload-tag badge badge-pill d-flex mb-2"> <span class="d-flex flex-grow-1 align-items-center"> <i class="material-icons d-flex align-items-center mr-2">link</i>  <span > document.doc</span></span> <i class="material-icons d-flex align-items-center justify-content-end ml-2 cursor-pointer">clear</i></span>
                  </div>

              </div>
            </div> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer fixed-bottom bg-white shadow-top">
  <div class="container-fluid">
    <div class="row">
      <div class="offset-xl-1 col-xl-10">
    <div class="row">
      <div class="col-sm-12 text-right">
        <button class="btn btn-default d-none d-sm-inline-block" type="button" >
            <i class="material-icons">close</i> Cancel
        </button>

        <button class="btn btn-primary ml-2" type="submit" (click)="submit()">
            <i class="material-icons">save</i> Save
        </button>

        <button class="btn btn-primary ml-2" type="submit" (click)="saveAndsubmit()">
          <i class="material-icons">save</i> Save & Submit
      </button>
      </div>
    </div>
    </div>
    </div>
  </div>
</footer>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit(form.value, form.valid)"
      novalidate
      class="mb-0">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Add Tasks</h4>
          <button type="button" class="close" data-dismiss="modal" id="closeModal">&times;</button>
        </div>
        <div class="modal-body">

            <div class="row">

              <div class="col-sm-12" >
                <label class="col-form-label"> {{getLang('date', 'Dates')}} </label>
                <span> {{getWeekDates(this.dates)}} </span>
            </div>


            <div class="col-sm-12">
              <label class="col-form-label">
                  {{getLang('workingdays', 'Working Days')}}
                  <span class="text-danger">*</span>
              </label>

              <mat-selection-list formControlName="dates" (selectionChange)="onSelection($event)">
                <mat-list-option  class="mat-primary" checkboxPosition="before" *ngFor="let item of dates" [value]="item.date">
                    {{item.dayName}}
                </mat-list-option>
              </mat-selection-list>

              <div
                  *ngIf="datesValidation"
                  class="text-danger">
                  <small class="error-label">
                      {{getLang('datesisrequired', 'Date is Required')}}
                  </small>
                </div>


          </div>



              <div class="col-sm-12" >
                <label class="col-form-label"> {{getLang('minutes', 'Minutes')}} </label>
                <mat-form-field class="example-full-width">
                    <input
                        type="number"
                        min="0"
                        max="1440"
                        formControlName="minutes"
                        matInput>

                </mat-form-field>

                <div
                    [hidden]="form.get('minutes').valid || (form.get('minutes').pristine && !submitted)"
                    class="text-danger">
                    <small *ngIf="form.get('minutes').hasError('required')" class="error-label">
                        {{getLang('minutesisrequired', 'minutes is Required')}}
                    </small>
                </div>
              </div>

              <div class="col-sm-12" >
                <label class="col-form-label"> {{getLang('comments', 'Comments')}} </label>
                <mat-form-field class="example-full-width">
                    <input
                        type="text"
                        formControlName="comments"
                        matInput>

                </mat-form-field>

                <div
                    [hidden]="form.get('comments').valid || (form.get('comments').pristine && !submitted)"
                    class="text-danger">
                    <small *ngIf="form.get('comments').hasError('required')" class="error-label">
                        {{getLang('commentsisrequired', 'comments is Required')}}
                    </small>
                </div>
              </div>

            </div>


        </div>
        <div class="modal-footer">
          <div class="col-sm-12 text-right">
            <button
                data-dismiss="modal"
                class="btn btn-default"
                type="button">
                <i class="material-icons">close</i> {{getLang('cancel', 'Cancel')}}
            </button>
            <button
                class="btn btn-primary ml-2"
                type="submit"
                >
                <i class="material-icons">save</i>{{getLang('save', 'Save')}}
            </button>
        </div>
        </div>
      </div>
    </form>
  </div>
</div>


<!-- Trigger the modal with a button -->
<button id="editTaskBtn" type="button" class="btn btn-info btn-lg d-none" data-toggle="modal" data-target="#myModalEdit">Open Modal</button>

<!-- Modal -->
<div id="myModalEdit" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <form
      *ngIf="taskEditVisible"
      [formGroup]="formTask"
      (ngSubmit)="onTasksSubmit(formTask.value, formTask.valid)"
      novalidate
      class="mb-0">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title">Edit Task</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-sm-12" >
            <label class="col-form-label"> {{getLang('task', 'Tasks')}} </label>
            <span> {{taskData?.task}} </span>
          </div>

          <div class="col-sm-12" >
            <label class="col-form-label"> {{getLang('day', 'Day')}} </label>
            <span> {{taskDay}} -- {{taskDate | date: 'longDate'}}</span>
          </div>

          <div class="col-sm-12" >
            <label class="col-form-label"> {{getLang('minutes', 'Minutes')}} </label>
            <mat-form-field class="example-full-width">
              <input
                type="number"
                min="0"
                max="1440"
                formControlName="taskMinutes"
                matInput>
            </mat-form-field>

            <div
                [hidden]="formTask.get('taskMinutes').valid || (formTask.get('taskMinutes').pristine && !taskSubmitted)"
                class="text-danger">
                <small *ngIf="formTask.get('taskMinutes').hasError('required')" class="error-label">
                    {{getLang('minutesisrequired', 'minutes is Required')}}
                </small>
            </div>
          </div>


        </div>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 text-left">
              <button
                (click)="deletTasks()"
                class="btn btn-default"
                type="button">
                <i class="material-icons">close</i> {{getLang('delete', 'Delete')}}
              </button>
            </div>
            <div class="col-sm-6 text-right">
              <button
                  data-dismiss="modal"
                  class="btn btn-default"
                  type="button">
                  <i class="material-icons">close</i> {{getLang('cancel', 'Cancel')}}
              </button>
              <button
                  class="btn btn-primary ml-2"
                  type="submit"
                  >
                  <i class="material-icons">save</i>{{getLang('save', 'Save')}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    </form>

  </div>
</div>
