<mat-form-field class="example-full-width" [ngClass]="classes">
    <input 
        type="text"
        aria-label="Number"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
        [required]="this.setting && this.setting.required == true ? true : false"
        (change)="handleEmptyInput($event)"
        (click)="preloaddata()">
    <mat-autocomplete 
        #auto="matAutocomplete" 
        [displayWith]="displayFn" 
        (optionSelected)="optionSelected($event.option)">
        <mat-option *ngIf="isLoadingBox" class="is-loading">
            <mat-spinner diameter="50"></mat-spinner>
        </mat-option>
        <ng-container *ngIf="!isLoadingBox && options.length > 0">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.autocomplete_displayname}}
            </mat-option>
        </ng-container>
        <ng-container *ngIf="!isLoadingBox && options.length == 0">
            <mat-option>
              <span>No Record</span>
            </mat-option>
        </ng-container>
    </mat-autocomplete>
</mat-form-field>