<form
    #formtext
    *ngIf="dynamicForm"
    (ngSubmit)="onDynamicFormSubmit(dynamicForm.value, dynamicForm.valid)"
    [formGroup]="dynamicForm"
    novalidate
    class="form-horizontal">


    <div class="row mb-3">
        <div class="col-md-3">

            <div class="mb-md-0 mb-3">
                
            </div>
        </div>
        <div class="col-md-9 text-md-right">

          <button type="button" style="background-color: #4caf50" class="btn btn-primary btn-sm">
            OK
          </button>

          <button type="button" style="background-color: #ff9800" class="btn btn-primary btn-sm">
            Suggested
          </button>
          
          <button type="button" style="background-color: #f44336" class="btn btn-primary btn-sm">
            Required
          </button>

          

        </div>
    </div>

    <mat-accordion class="example-headers-align" multi>
        
        <div *ngFor="let fields of this.selectedTemplate.fields">

            <!-- <h5 class="card-title head-primary-border mt-4 brand-secondary">{{fields.sectiondisplayname}}</h5> -->

            <mat-expansion-panel [expanded]="fields.accordian">

                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span> {{fields.sectiondisplayname}} </span>
                    </mat-panel-title>
                    <mat-panel-description>
                        
                    </mat-panel-description>
                </mat-expansion-panel-header>
                
            
                    <div class="row">
                        
                        <ng-container formGroupName="{{fields.fieldname}}">
    
                            <ng-container *ngFor="let groupfield of fields.fields; let i = index; let grouplst = last">
    
                                <ng-container [ngSwitch]="groupfield.fieldtype">
                                    
                                    <div [ngClass]="groupfield.colspan == '1'  ? 'col-md-12 col-sm-12' : groupfield.colspan == '2' ? 'col-md-6 col-sm-6' : 'col-md-3 col-sm-3' ">
                                        
                                       
                                        <div class="row align-items-center">
                                            <div class="col-md-8 col-sm-8">
                                                <label class="col-form-label">
                                                    {{groupfield.displayname}}
                                                    <span *ngIf="groupfield.required" class="text-danger">*</span>
                                                </label>
                                                <ng-container *ngSwitchCase="'text'">
                                                    <mat-form-field  class="example-full-width mat-form-field-space-remove">
                                                        <input
                                                            type="text"
                                                            matInput
                                                            [formControlName]="groupfield.fieldname">
                                                    </mat-form-field>
                                                </ng-container>

                                            </div>
                                         
                            
                                            <div class="col-md-4 col-sm-4 text-right" >
                                                <section class="example-section" *ngIf="groupfield.checklist == true">
                                                    <mat-checkbox 
                                                        class="example-margin checkbox-green" (change)="checkboxChangeEvent($event, fields.fieldname, groupfield.fieldname, 'ok')"  formControlName="{{groupfield.fieldname}}_status_ok"></mat-checkbox>
                                                    <mat-checkbox 
                                                        class="example-margin checkbox-yellow" (change)="checkboxChangeEvent($event, fields.fieldname, groupfield.fieldname, 'suggested')"  formControlName="{{groupfield.fieldname}}_status_suggested"></mat-checkbox>
                                                    <mat-checkbox 
                                                        class="example-margin checkbox-red" (change)="checkboxChangeEvent($event, fields.fieldname, groupfield.fieldname, 'required')"   formControlName="{{groupfield.fieldname}}_status_required"></mat-checkbox>
                                                </section>                                    
                                            </div>                                        
                                        </div>
                                        
                                        <ng-container *ngSwitchCase="'long_text'">
                                            <mat-form-field class="example-full-width">
                                                <input
                                                    type="text"
                                                    matInput
                                                    value
                                                    [formControlName]="groupfield.fieldname">
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width">
                                                <textarea matInput> </textarea>
                                            </mat-form-field>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'checkbox'">
                                            <mat-selection-list [formControlName]="groupfield.fieldname" >
                                                <mat-list-option  class="mat-primary" checkboxPosition="before" *ngFor="let look of groupfield.lookupdata" [value]="look.key">
                                                    {{look.value}}
                                                </mat-list-option>
                                            </mat-selection-list>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'radio'">
                                            <mat-radio-group
                                                aria-labelledby="example-radio-group-label"
                                                class="example-radio-group"
                                                [formControlName]="groupfield.fieldname">
                                                <mat-radio-button
                                                    class="example-radio-button"
                                                    *ngFor="let look of groupfield.lookupdata; let i = index"
                                                    [value]="look.value"
                                                    >
                                                    {{look.value}}
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'list'">
                                            <mat-form-field class="example-full-width">
                                                <input
                                                    matInput
                                                    placeholder="Select"
                                                    aria-label="Select"
                                                    [matAutocomplete]="auto"
                                                    [formControlName]="groupfield.fieldname">
                                                <mat-autocomplete #auto="matAutocomplete">
                                                    <mat-option *ngFor="let opt of groupfield.lookupdata" [value]="opt.value">
                                                        <span>{{ opt.value }}</span>
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'datepicker'">
                                            <mat-form-field>
                                                <input
                                                    matInput
                                                    [min]="minDate"
                                                    [max]="groupfield.maxDate ? groupfield.maxDate : maxDate"
                                                    [matDatepicker]="resultPicker"
                                                    [formControlName]="groupfield.fieldname"
                                                    placeholder="">
                                                <mat-datepicker-toggle
                                                    matSuffix
                                                    [for]="resultPicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #resultPicker [startAt]="startDate"></mat-datepicker>
                                            </mat-form-field>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'time_only'">
                                            <mat-form-field class="example-full-width">
                                                <input matInput type="time" [formControlName]="groupfield.fieldname"> 
                                            </mat-form-field>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'multi_selected_list'">
                                            <mat-form-field class="example-full-width">
                                                <mat-select
                                                    [formControlName]="groupfield.fieldname"
                                                    multiple>
                                                    <mat-option value="">Select {{groupfield.fielddisplaytext}}</mat-option>
                                                    <mat-option
                                                        *ngFor="let opt of groupfield.lookupdata"
                                                        [value]="opt.value">
                                                        {{opt.value}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'attachment'">
                                            <div class="form-group">
                                                <img class="loading_{{groupfield.fieldname}}" src="assets/img/image-loader.GIF"
                                                    style="height: 100px; width: 100px; display: none">
    
                                                <div class="btn btn-primary btn-file">
    
                                                    <label class="upload_button mb-0" for="fileupload_{{groupfield.fieldname}}_{{i}}"><i class="material-icons">cloud_upload</i> Upload </label>
    
                                                    <input
                                                        type="file"
                                                        id="fileupload_{{groupfield.fieldname}}_{{i}}"
                                                        #fileInput
                                                        ng2FileSelect
                                                        [style.display]="'none'"
                                                        [uploader]="customeUploader[groupfield.fieldname]"
                                                        (change)="fileInput.value=''"
                                                        multiple />
    
                                                    <input
                                                        type="hidden"
                                                        [id]="groupfield.fieldname"
                                                        [formControlName]="groupfield.fieldname" >
                                                </div>
    
                                                <div class="mt-2" >
                                                    <span class="upload-tag badge badge-pill d-flex mb-2" *ngFor="let item of formImageArray[groupfield.fieldname]">
                                                        <span class="d-flex flex-grow-1 align-items-center" >
                                                            <i class="material-icons d-flex align-items-center mr-2">link</i>
                                                            <span (click)="downloadlink(item.attachment)"> {{item.originalfilename}}.{{item.extension}}</span>
                                                        </span>
                                                        <i
                                                            class="material-icons d-flex align-items-center justify-content-end ml-2 cursor-pointer"
                                                            (click)="removeImg(item, groupfield.fieldname)">clear</i>
                                                    </span>
                                                </div>
                                            </div>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'gallery'">
                                            <div class="form-group">
                                                <div class="row membroz-row">
                                                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 membroz-col d-flex flex-grow-1 mb-3">
                                                        <span class="btn-file text-center add-upload-inner-vcenter">
                                                            <label
                                                                class="upload_button mb-0 add-upload-main"
                                                                for="fileupload_{{groupfield.fieldname}}_{{i}}">
                                                                <!-- <svg
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    width="18.77"
                                                                    height="18.77"
                                                                    viewBox="0 0 18.77 18.77">
                                                                    <g transform="translate(-807.636 -666.636)">
                                                                        <line
                                                                            x2="11.858"
                                                                            y2="11.858"
                                                                            transform="translate(817.021 667.636) rotate(45)"
                                                                            fill="none"
                                                                            stroke="#949494"
                                                                            stroke-linecap="round"
                                                                            stroke-width="1" />
                                                                        <line
                                                                            x1="11.858"
                                                                            y2="11.858"
                                                                            transform="translate(817.021 667.636) rotate(45)"
                                                                            fill="none"
                                                                            stroke="#949494"
                                                                            stroke-linecap="round"
                                                                            stroke-width="1" />
                                                                    </g>
                                                                </svg>  -->
                                                                <div class="mt-2"> Add image </div>
                                                            </label>
    
                                                            <input
                                                                *ngIf="customeUploader && customeUploader[fields.fieldname] && customeUploader[fields.fieldname][i] && customeUploader[fields.fieldname][i][groupfield.fieldname]"
                                                                type="file"
                                                                id="fileupload_{{groupfield.fieldname}}_{{i}}"
                                                                #fileInput
                                                                ng2FileSelect
                                                                [style.display]="'none'"
                                                                [uploader]="customeUploader[fields.fieldname][i][groupfield.fieldname]"
                                                                (change)="fileInput.value=''"
                                                                multiple />
    
                                                            <input
                                                                type="hidden"
                                                                [id]="groupfield.fieldname"
                                                                [formControlName]="groupfield.fieldname" >
                                                        </span>
    
                                                        <img
                                                            class="loading_{{groupfield.fieldname}}_{{i}}"
                                                            src="assets/img/image-loader.GIF"
                                                            style="height: 100px; width: 100px; display: none">
    
                                                    </div>
    
                                                    <ng-container *ngIf="formImageArray[fields.fieldname] && formImageArray[fields.fieldname][i] && formImageArray[fields.fieldname][i][groupfield.fieldname] && formImageArray[fields.fieldname][i][groupfield.fieldname].length > 0">
                                                        <div
                                                            class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 membroz-col d-flex flex-grow-1 mb-3"
                                                            *ngFor="let itemImage of formImageArray[fields.fieldname][i][groupfield.fieldname]">
    
                                                            <div class="position-relative d-flex">
                                                                <img
                                                                    [src]="itemImage.attachment"
                                                                    (click)="downloadlink(itemImage.attachment)"
                                                                    class="img-fluid img-add-product">
                                                                    <span class="img-add-product-delete">
                                                                        <button
                                                                            type="button"
                                                                            mat-raised-button
                                                                            class="btn btn-just-icon btn-link"
                                                                            (click)="removeGroupImg(itemImage, fields.fieldname, i, groupfield.fieldname)">
                                                                            <i class="material-icons">cancel</i>
                                                                        </button>
                                                                    </span>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'editor'">
                                            <angular-editor [formControlName]="groupfield.fieldname" [placeholder]="'Enter text here...'"></angular-editor>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'readonly'">
                                            <span style="color: red;" class="form-control-static">{{groupfield.defaultvalue}}</span>
                                            <mat-form-field class="example-full-width" [hidden]="true">
                                                <input
                                                    matInput
                                                    #firsttext
                                                    type="text"
                                                    class="example-margin"
                                                    readonly
                                                    [ngClass]="!((dynamicForm.get([groupfield.fieldname]).pristine && !dynamicSubmitted) || dynamicForm.get([groupfield.fieldname]).valid) ? 'error' : ' '"
                                                    [formControlName]="groupfield.fieldname">
                                            </mat-form-field>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'disclaimer'">
                                            <span style="color: red;" class="form-control-static">{{groupfield.defaultvalue}}</span>
                                            <mat-form-field class="example-full-width" [hidden]="true">
                                                <input
                                                    matInput
                                                    #firsttext
                                                    type="text"
                                                    class="example-margin"
                                                    readonly
                                                    [ngClass]="!((dynamicForm.get([groupfield.fieldname]).pristine && !dynamicSubmitted) || dynamicForm.get([groupfield.fieldname]).valid) ? 'error' : ' '"
                                                    [formControlName]="groupfield.fieldname">
                                            </mat-form-field>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'mobile'">
                                            <mat-form-field
                                                hintLabel="Max {{groupfield?.maxlength}} characters"
                                                class="example-full-width">
                                                <input
                                                    [maxlength]="groupfield?.maxlength"
                                                    matInput
                                                    [formControlName]="groupfield.fieldname">
                                            </mat-form-field>
    
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'alternatenumber'">
                                            <mat-form-field
                                                hintLabel="Max {{groupfield?.maxlength}} characters"
                                                class="example-full-width">
                                                <input
                                                    [maxlength]="groupfield?.maxlength"
                                                    matInput
                                                    [formControlName]="groupfield.fieldname">
                                            </mat-form-field>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'whatsappnumber'">
                                            <ngx-intl-tel-input
                                                [inputId]="'adsasd'"
                                                [cssClass]="'custom form-control'"
                                                [ngClass]="!((dynamicForm.get([groupfield.fieldname]).pristine && !dynamicSubmitted) || dynamicForm.get([groupfield.fieldname]).valid) ? 'error' : ' '"
                                                [preferredCountries]="preferredCountries"
                                                [enableAutoCountrySelect]="false"
                                                [enablePlaceholder]="true"
                                                [searchCountryFlag]="true"
                                                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                                [selectFirstCountry]="false"
                                                [selectedCountryISO]="groupfield.value && groupfield.value.countryCode ? groupfield.value.countryCode : CountryISO.India"
                                                [maxLength]="15"
                                                [phoneValidation]="true"
                                                [separateDialCode]="separateDialCode"
                                                [formControlName]="groupfield.fieldname">
                                            </ngx-intl-tel-input>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'lookup'">
                                            <dynamic-autocomplete
                                                [formControlName]="groupfield.fieldname"
                                                [setting]="groupfield"
                                                [dbvalue]="a.get([groupfield.fieldname]).value"
                                                (added)="onItemAdded($event)">
                                            </dynamic-autocomplete>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'form'">
    
                                            <ng-container *ngIf="groupfield && groupfield.multiselect; else formAutoComplete">
                                                <mat-form-field class="example-full-width">
                                                    <mat-select
                                                        [formControlName]="groupfield.fieldname"
                                                        multiple>
                                                        <mat-option
                                                            *ngFor="let opt of groupfield.formfieldfilterValue"
                                                            [value]="opt.id">
                                                            {{opt.itemName}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </ng-container>
    
                                            <ng-template #formAutoComplete>
                                                <dynamic-autocomplete
                                                    [formControlName]="groupfield.fieldname"
                                                    [setting]="groupfield"
                                                    [dbvalue]="a.get([groupfield.fieldname]).value"
                                                    (added)="onItemAdded($event)">
                                                </dynamic-autocomplete>
                                            </ng-template>
    
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'fullname'">
                                            <mat-form-field
                                                class="example-full-width">
                                                <input
                                                    type="text"
                                                    matInput
                                                    [formControlName]="groupfield.fieldname">
                                            </mat-form-field>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'primaryemail'">
    
                                            <mat-form-field class="example-full-width">
                                                <input
                                                    type="text"
                                                    matInput
                                                    [formControlName]="groupfield.fieldname">
                                            </mat-form-field>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'secondaryemail'">
                                            <mat-form-field class="example-full-width">
                                                <input
                                                    type="text"
                                                    matInput
                                                    [formControlName]="groupfield.fieldname">
                                            </mat-form-field>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'calendar_timer'">
    
                                            <mat-form-field class="example-full-width">
                                                <input 
                                                    matInput 
                                                    [ngxMatDatetimePicker]="picker" 
                                                    [formControlName]="groupfield.fieldname">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <ngx-mat-datetime-picker 
                                                    #picker 
                                                    [showSpinners]="true"
                                                    >
                                                </ngx-mat-datetime-picker>
                                              </mat-form-field>

                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'slide_toggle'">
                                            <div class="mt-2">
                                                <mat-slide-toggle
                                                    class="example-margin"
                                                    [checked]="groupfield.value"
                                                    [formControlName]="groupfield.fieldname">
                                                </mat-slide-toggle>
                                            </div>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'number'">
                                            <mat-form-field class="example-full-width">
                                                <input
                                                    type="number"
                                                    [min]="groupfield.min ? groupfield.min : -999999999999999"
                                                    [max]="groupfield.max ? groupfield.max : 999999999999999"
                                                    matInput
                                                    [formControlName]="groupfield.fieldname">
                                            </mat-form-field>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'audio'">
                                            <mat-form-field class="example-full-width">
                                                <input
                                                    type="text"
                                                    matInput
                                                    [formControlName]="groupfield.fieldname">
                                            </mat-form-field>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'formdata'">
                                            <dynamic-autocomplete
                                                [formControlName]="groupfield.fieldname"
                                                [setting]="fields"
                                                [dbvalue]="a.get([groupfield.fieldname]).value"
                                                (added)="onItemAdded($event)">
                                            </dynamic-autocomplete>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'form_multiselect'">
                                            <mat-form-field class="example-full-width">
                                                <mat-select [formControlName]="groupfield.fieldname" multiple>
                                                    <mat-option *ngFor="let item of groupfield.formfieldfilterValue" [value]="item.id">{{item.itemName}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </ng-container>
    
                                        <ng-container *ngSwitchCase="'category_list'">
                                            <mat-form-field class="example-full-width">
                                                <mat-select [formControlName]="groupfield.fieldname" [multiple]="groupfield.multiselect">
                                                <mat-optgroup
                                                    *ngFor="let group of group.formfieldfilterValue"
                                                    [label]="group.name"
                                                    [disabled]="group.disabled">
                                                    <mat-option *ngFor="let pokemon of group.pokemon" [value]="pokemon.value">
                                                    {{pokemon.viewValue}}
                                                    </mat-option>
                                                </mat-optgroup>
                                                </mat-select>
                                            </mat-form-field>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'product'">
                                            <ng-container>
                                                <mat-form-field class="example-full-width">
                                                    <mat-select
                                                        [formControlName]="groupfield.fieldname"
                                                        multiple>
                                                        <mat-option
                                                            *ngFor="let opt of groupfield.formfieldfilterValue"
                                                            [value]="opt._id">
                                                            {{opt.itemname}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </ng-container>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'service'">
                                            <ng-container>
                                                <mat-form-field class="example-full-width">
                                                    <mat-select
                                                        [formControlName]="groupfield.fieldname"
                                                        multiple>
                                                        <mat-option
                                                            *ngFor="let opt of groupfield.formfieldfilterValue"
                                                            [value]="opt._id">
                                                            {{opt.title}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </ng-container>
                                        </ng-container>

    
                                        <ng-container *ngSwitchCase="'rating'">
                                            <div class="mt-2">
                                                <ngb-rating [formControlName]="groupfield.fieldname" max=5 style="font-size:  xx-large;"></ngb-rating>
                                            </div>
                                        </ng-container>
    
                                        <span class="help-block">{{groupfield?.description}}</span>
    
                                        <div
                                            [hidden]="dynamicForm.get([fields.fieldname]).get([groupfield.fieldname]).valid || (dynamicForm.get([fields.fieldname]).get([groupfield.fieldname]).pristine && !dynamicSubmitted)"
                                            class="text-danger">
    
                                            <small *ngIf="dynamicForm.get([fields.fieldname]).get([groupfield.fieldname]).hasError('required')" class="error-label">
                                                * {{fields?.displayname ? fields?.displayname : fields.fieldname}} is Required
                                            </small>
    
                                            <small *ngIf="dynamicForm.get([fields.fieldname]).get([groupfield.fieldname]).hasError('adultDateVal')" class="error-label">
                                                * {{fields?.displayname ? fields?.displayname : fields.fieldname}} should be 18+
                                            </small>
    
                                            <small *ngIf="dynamicForm.get([fields.fieldname]).get([groupfield.fieldname]).hasError('email')" class="error-label">
                                                * {{fields?.displayname ? fields?.displayname : fields.fieldname}} is Invalid
                                            </small>
    
                                            <small *ngIf="dynamicForm.get([fields.fieldname]).get([groupfield.fieldname]).hasError('insertonlyvalidurl')" class="error-label">
                                                * {{fields?.displayname ? fields?.displayname : fields.fieldname}} is Invalid
                                            </small>
    
                                            <small *ngIf="dynamicForm.get([fields.fieldname]).get([groupfield.fieldname]).hasError('insertonlynumber')" class="error-label">
                                                * {{fields?.displayname ? fields?.displayname : fields.fieldname}} is Invalid number
                                            </small>
    
                                            <small *ngIf="dynamicForm.get([fields.fieldname]).get([groupfield.fieldname]).hasError('onlyvalidmobilenumber')" class="error-label">
                                                * {{fields?.displayname ? fields?.displayname : fields.fieldname}} is Invalid
                                            </small>
    
                                            <small *ngIf="dynamicForm.get([fields.fieldname]).get([groupfield.fieldname]).hasError('insertonlynumberordecimal')" class="error-label">
                                                * {{fields?.displayname ? fields?.displayname : fields.fieldname}} is Invalid Number Or Decimal
                                            </small>
    
                                            <small *ngIf="dynamicForm.get([fields.fieldname]).get([groupfield.fieldname]).hasError('validatePhoneNumber')" class="error-label">
                                                * {{fields?.displayname ? fields?.displayname : fields.fieldname}} is Invalid
                                            </small>
    
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
               
            </mat-expansion-panel>
        </div>

        <div class="card d-none">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        

                        
                    </div>
                    <div class="col-sm-6 text-right ">
                        <button 
                            class="btn btn-default btn-full-width" 
                            type="button"
                            [routerLink]="['/pages/dynamic-list/list/inspection']">
                            <i class="material-icons">close</i> Cancel
                        </button>

                        <button 
                            id="submitBtn" 
                            class="btn btn-primary ml-2"
                            type="submit">
                            <i class="material-icons">save</i> Save
                        </button>

                    </div>
                </div>
            </div>
        </div>

    </mat-accordion>

</form>