<div id="printid" class="print-page">
    <div [innerHtml]="tableContent | safeHtml">
</div>
  <!-- Modal -->



  <div class="d-none">

  
    <!-- <table style="width:100%;table-layout: fixed;">
      <tbody>
        <tr>
          <td style="width:50%;vertical-align: top;">
            <div> <img src="https://books.zoho.com/ZFInvoiceLogo.zbfs?logo_id=f1e4c911fbabce3b5eb36ff696767231" style="width:240.0px;height:81.17646789550781px;" > </div>
            <span class="print-company" style="font-weight: bold;">Star Enterprise</span><br>
            <address class="print-text mb-0">
                403, Jay Sitaram Street, Opp - Hitesh Nagar <br>
                Rampura Road<br>
                Mumbai, Maharashtra <br>
                India
            </address>
        </td>
        <td style="width:50%;vertical-align: top;" class="text-right">
            <span class="print-page-item-head" style="font-size: 31px;font-weight: bold;">INVOICE</span><br>
            <span style="font-weight: bold;" class="print-item-number"><b># INV-000001</b></span>
        </td>
        </tr>
      </tbody>
    </table>
    <table style="width:100%;margin-top:25px;table-layout:fixed;">
      <tbody>
        <tr>
          <td style="width:50%;vertical-align:bottom;">
            <div class="print-text" >Bill To</div>
            <span class="print-company" style="font-weight: bold;">Kamlesh Sharma</span><br>
            <address class="print-text mb-0">
                    201, Rajipuram, Opp - Raja jewellers<br>
                    Ring Road<br>
                    Banglore <br>
                    499952 Karnataka <br>
                    India
                </address>

        </td>


          <td style="vertical-align:bottom;width: 50%;" class="text-right" >
          <table style="width: 100%;table-layout: fixed;word-wrap: break-word;" cellspacing="0" cellpadding="0" border="0" >
              <tbody>
                <tr>
                  <td style="padding:5px 10px 5px 0px;" class="text-right print-text">Invoice Date :</td>
                  <td class="text-right print-text">02/03/2021</td>
                </tr>
                <tr>
                  <td style="padding:5px 10px 5px 0px;" class="text-right print-text">Terms :</td>
                  <td class="text-right print-text">Due on Receipt</td>
                </tr>
                <tr>
                  <td style="padding:5px 10px 5px 0px;" class="text-right print-text">Due Date :</td>
                  <td class="text-right print-text">02/03/2021</td>
                </tr>
              </tbody>
            </table>
        </td>
        </tr>
      </tbody>
    </table>


    <div style="width: 100%;margin-top: 20px;">
      <table width="100%" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td class="print-company" style="font-weight: bold;" >Subject</td>
          </tr>
          <tr>
            <td class="print-company">Invoice for new ayurvedic inventory for skip</td>
          </tr>
        </tbody>
      </table>
    </div>
      <table style="width:100%;margin-top:20px;margin-bottom: 0;table-layout:fixed;" class="print-text table-membroz" cellspacing="0" cellpadding="0" border="0">
        <thead>
          <tr class="table-print-head-row">
            <th style="padding: 5px 5px 5px 5px;width: 6%;text-align: center;"  class="table-print-head text-break"> # </th>
            <th style="padding: 5px 5px 5px 5px;width:auto;text-align: left;"  class="table-print-head text-break"> Item &amp; Description </th>
            <th style="padding: 5px 5px 5px 5px;width: 11%;text-align: right;"  class="table-print-head text-break"> Qty </th>
            <th style="padding: 5px 5px 5px 5px;width: 13%;text-align: right;"  class="table-print-head text-break"> Rate </th>
            <th style="padding: 5px 10px 5px 5px;width: 18%;text-align: right;"  class="table-print-head text-break"> Amount </th>
          </tr>
        </thead>
        <tbody >
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 1 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              ayurvedic skip
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">25</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">15,000.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">3,75,000.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 2 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              face wash
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">10</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">70.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">700.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 1 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              ayurvedic skip
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">25</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">15,000.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">3,75,000.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 2 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              face wash
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">10</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">70.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">700.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 1 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              ayurvedic skip
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">25</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">15,000.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">3,75,000.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 2 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              face wash
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">10</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">70.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">700.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 1 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              ayurvedic skip
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">25</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">15,000.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">3,75,000.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 2 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              face wash
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">10</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">70.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">700.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 1 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              ayurvedic skip
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">25</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">15,000.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">3,75,000.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 2 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              face wash
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">10</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">70.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">700.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 1 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              ayurvedic skip
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">25</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">15,000.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">3,75,000.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 2 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              face wash
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">10</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">70.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">700.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 1 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              ayurvedic skip
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">25</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">15,000.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">3,75,000.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 2 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              face wash
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">10</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">70.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">700.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 1 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              ayurvedic skip
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">25</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">15,000.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">3,75,000.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 2 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              face wash
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">10</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">70.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">700.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 1 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              ayurvedic skip
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">25</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">15,000.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">3,75,000.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 2 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              face wash
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">10</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">70.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">700.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 1 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              ayurvedic skip
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">25</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">15,000.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">3,75,000.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 2 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              face wash
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">10</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">70.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">700.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 1 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              ayurvedic skip
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">25</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">15,000.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">3,75,000.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 2 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              face wash
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">10</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">70.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">700.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 1 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              ayurvedic skip
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">25</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">15,000.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">3,75,000.00</td>
          </tr>
          <tr class="break-row-inside break-row-after">
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 2 </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
              face wash
            </td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">10</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">70.00</td>
            <td style="border-bottom: 1px solid #aaaaaa;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">700.00</td>
          </tr>
        </tbody>
      </table>

      <div style="text-align: right;">
          <div style="width: 100%;">
            <table class="print-company" width="100%" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td style="width: 81%;padding: 10px 5px 10px 5px;" class="align-middle text-right">Sub Total</td>
                  <td style="width: auto;padding: 10px 5px 10px 5px;" class="align-middle text-right">3,75,800.00</td>
                </tr>
                <tr >
                  <td style="width: 81%;padding: 5px 5px 5px 5px;" class="align-middle text-right">TCS
                    <span class="text-right" style="font-size: 12px;"> (206C(1H)) </span></td>
                  <td style="width: auto;padding: 10px 5px 10px 5px;" class="align-middle text-right">18,790.00</td>
                </tr>
                <tr >
                  <td style="width: 81%;padding: 10px 5px 10px 5px;border-top: 1px solid #aaaaaa;border-bottom: 1px solid #aaaaaa;font-weight: bold;" class="align-middle text-right">Total </td>
                  <td style="width: auto;padding: 10px 5px 10px 5px;border-top: 1px solid #aaaaaa;border-bottom: 1px solid #aaaaaa;font-weight: bold;" class="align-middle text-right">₹3,94,590.00</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      <div style="width: 100%;margin-top: 10px;">
        <table width="100%" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="print-company" style="font-weight: bold;" >Total In Words</td>
            </tr>
            <tr>
              <td class="print-company">Indian Rupee Three Lakh Ninety-Four Thousand Five Hundred Ninety  Only</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div style="width: 100%;margin-top: 40px;">
        <table width="100%" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="print-company" style="font-weight: bold;" >Notes</td>
            </tr>
            <tr>
              <td class="print-company">Thanks for your business.</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div style="width: 100%;margin-top: 25px;">
        <table width="100%" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="print-company" style="font-weight: bold;" >Terms & Conditions</td>
            </tr>
            <tr>
              <td class="print-company">You have to send payment within 15 days from receipt of invoce</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="break-row-inside pb-5">
        <div style="margin-top:30px;display: table;">
            <div style="display: table-cell;padding-right: 5px;" class="print-company">Authorized Signature</div>
            <div style="display: table-cell;">
                <div style="width: 220px;border-bottom: 1px solid #000000;display: inline-block;"></div>
            </div>
        </div>
    </div>
  </div>

  <div class="d-block pb-5">
    <div style="border: 1px solid #666666;" >
      <table style="width: 100%;">
        <tbody>
          <tr>
            <td style="width:20%;padding: 5px 10px;vertical-align: middle;">
              <img src="https://books.zoho.com/ZFInvoiceLogo.zbfs?logo_id=f1e4c911fbabce3b5eb36ff696767231" style="width:220px;height:auto;" >
            </td>
            <td style="width:60%;padding: 5px 10px;vertical-align: middle;">
              <span class="print-company" style="font-weight: bold;">Star Enterprise</span><br>
              <address class="print-text mb-0" >
                  403, Jay Sitaram Street, Opp - Hitesh Nagar <br>
                  Rampura Road<br>
                  Mumbai, Maharashtra <br>
                  India
              </address>
            </td>
          <td style="width:20%;padding: 5px 10px;vertical-align: bottom;" class="text-right">
            <span class="print-page-item-head" style="font-size: 31px;font-weight: bold;">INVOICE</span>
          </td>
    </tr>
  </tbody>
      </table>

        <table style="width: 100%;table-layout: fixed;word-wrap: break-word;"  cellspacing="0" cellpadding="0" border="0">
          <tbody>
            <tr>
              <td style="border-top: 1px solid #666666;border-right: 1px solid #666666;padding-bottom: 10px;width: 50%;vertical-align: top;">
                <table style="width: 100%;table-layout: fixed;word-wrap: break-word;" cellspacing="0" cellpadding="0" border="0" >
                  <tbody>
                    <tr>
                      <td style="padding:10px 10px 3px 10px;width: 40%;" class="print-text">Invoice No : </td>
                      <td style="padding:10px 10px 3px 10px;width: 60%;" class="print-text">INV-000001</td>
                    </tr>
                    <tr>
                      <td style="padding:3px 10px 3px 10px;" class="print-text">Invoice Date :</td>
                      <td style="padding:3px 10px 3px 10px;" class="print-text">02/03/2021</td>
                    </tr>
                    <tr>
                      <td style="padding:3px 10px 3px 10px;" class="print-text">Terms :</td>
                      <td style="padding:3px 10px 3px 10px;" class="print-text">Due on Receipt</td>
                    </tr>
                    <tr>
                      <td style="padding:3px 10px 3px 10px;" class="print-text">Due Date :</td>
                      <td style="padding:3px 10px 3px 10px;" class="print-text">02/03/2021</td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td style="border-top: 1px solid #666666;padding-bottom: 10px;width: 50%;vertical-align: top;">
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table-membroz" style="width: 100%;table-layout: fixed;" cellspacing="0" cellpadding="0" border="0">
          <thead>
            <tr>
              <th class="print-company table-print-head text-break" style="padding: 3px 0 3px 10px; color: #ffffff; border-top: 1px solid #666666; text-align: left;">Bill To</th>
            </tr>
          </thead>
            <tbody>
              <tr>
              <td style="padding:10px 0 10px 10px;" valign="top">
                <span class="print-company" style="font-weight: bold;">Kamlesh Sharma</span><br>
                <address class="print-text mb-0">
                        201, Rajipuram, Opp - Raja jewellers<br>
                        Ring Road<br>
                        Banglore <br>
                        499952 Karnataka <br>
                        India
                    </address>
              </td>
              </tr>
            </tbody>
          </table>

          <div style="padding:10px 10px;border-top: 1px solid #666666;">
            <table width="100%" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td class="print-company" style="font-weight: bold;" >Subject</td>
                </tr>
                <tr>
                  <td class="print-company">Invoice for new ayurvedic inventory for skip</td>
                </tr>
              </tbody>
            </table>
          </div>
            <table style="width:100%;margin-top:0px;margin-bottom: 0;table-layout:fixed;" class="print-text table-membroz" cellspacing="0" cellpadding="0" border="0">
              <thead>
                <tr class="table-print-head-row">
                  <th style="border-right:1px solid #666666;padding: 5px 5px 5px 5px;width: 6%;text-align: center;"  class="table-print-head text-break"> # </th>
                  <th style="border-right:1px solid #666666;padding: 5px 5px 5px 5px;width:auto;text-align: left;"  class="table-print-head text-break"> Item &amp; Description </th>
                  <th style="border-right:1px solid #666666;padding: 5px 5px 5px 5px;width: 11%;text-align: right;"  class="table-print-head text-break"> Qty </th>
                  <th style="border-right:1px solid #666666;padding: 5px 5px 5px 5px;width: 13%;text-align: right;"  class="table-print-head text-break"> Rate </th>
                  <th style="padding: 5px 10px 5px 5px;width: 18%;text-align: right;"  class="table-print-head text-break"> Amount </th>
                </tr>
              </thead>
              <tbody >
                <tr class="break-row-inside break-row-after">
                  <td style="border-right:1px solid #666666;border-bottom: 1px solid #666666;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 1 </td>
                  <td style="border-right:1px solid #666666;border-bottom: 1px solid #666666;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
                    ayurvedic skip
                  </td>
                  <td style="border-right:1px solid #666666;border-bottom: 1px solid #666666;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">25</td>
                  <td style="border-right:1px solid #666666;border-bottom: 1px solid #666666;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">15,000.00</td>
                  <td style="border-bottom: 1px solid #666666;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">3,75,000.00</td>
                </tr>
                <tr class="break-row-inside break-row-after">
                  <td style="border-right:1px solid #666666;border-bottom: 1px solid #666666;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-center align-top" > 2 </td>
                  <td style="border-right:1px solid #666666;border-bottom: 1px solid #666666;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-left align-top" >
                    face wash
                  </td>
                  <td style="border-right:1px solid #666666;border-bottom: 1px solid #666666;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">10</td>
                  <td style="border-right:1px solid #666666;border-bottom: 1px solid #666666;padding: 10px 5px 10px 5px;" class="print-table-td text-break text-right align-top">70.00</td>
                  <td style="border-bottom: 1px solid #666666;padding: 10px 10px 10px 5px;" class="print-table-td text-break text-right align-top">700.00</td>
                </tr>

              </tbody>
            </table>
            <div class="print-company row" style="margin-left: 0;margin-right: 0;">
                 <div class="col-7" style="padding-left: 0;padding-right: 0;"  >
                 <div style="width: 100%;margin-top: 10px;">
                  <table width="100%" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td class="print-company" style="font-weight: bold;padding-left: 10px;" >Total In Words</td>
                      </tr>
                      <tr>
                        <td class="print-company" style="padding-left: 10px;">Indian Rupee Three Lakh Ninety-Four Thousand Five Hundred Ninety  Only</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div style="width: 100%;margin-top: 20px;">
                  <table width="100%" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td class="print-company" style="font-weight: bold;padding-left: 10px;" >Notes</td>
                      </tr>
                      <tr>
                        <td class="print-company" style="padding-left: 10px;">Thanks for your business.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div style="width: 100%;margin-top: 20px;margin-bottom:10px;">
                  <table width="100%" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td class="print-company" style="font-weight: bold;padding-left: 10px;" >Terms & Conditions</td>
                      </tr>
                      <tr>
                        <td class="print-company" style="padding-left: 10px;">You have to send payment within 15 days from receipt of invoce</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                </div>
                <div class="col-5" style="border-left: 1px solid #666666;padding-left: 0;padding-right: 0;">
                    <table class="print-company" width="100%" cellspacing="0" border="0" >
                        <tbody>
                          <tr>
                            <td style="width: 81%;padding: 10px 5px 10px 5px;" class="align-middle text-right">Sub Total</td>
                            <td style="width: auto;padding: 10px 5px 10px 5px;" class="align-middle text-right">3,75,800.00</td>
                          </tr>
                          <tr >
                            <td style="width: 81%;padding: 5px 5px 5px 5px;" class="align-middle text-right">TCS
                              <span class="text-right" style="font-size: 12px;"> (206C(1H)) </span></td>
                            <td style="width: auto;padding: 10px 5px 10px 5px;" class="align-middle text-right">18,790.00</td>
                          </tr>
                          <tr >
                            <td style="width: 81%;padding: 10px 5px 10px 5px;border-bottom: 1px solid #666666;font-weight: bold;" class="align-middle text-right">Total </td>
                            <td style="width: auto;padding: 10px 5px 10px 5px;border-bottom: 1px solid #666666;font-weight: bold;" class="align-middle text-right">₹3,94,590.00</td>
                          </tr>

                    <tr>
                      <td style="text-align: center;padding-top: 5px;" colspan="2"><div style="min-height: 81px;"> </div></td>
                    </tr>
                    <tr>
                      <td style="text-align: center;padding-bottom: 10px;" colspan="2">Authorized Signature</td>
                    </tr>
                        </tbody>
                      </table>
                </div>

            </div>

    </div>
  </div>

</div> -->
