<form 
    #formtext 
    *ngIf="dynamicForm" 
    (ngSubmit)="onDynamicFormSubmit(dynamicForm.value, dynamicForm.valid)"
    [formGroup]="dynamicForm" 
    novalidate 
    class="mb-0">

    <div class="row">

        <div class="col-sm-12" >
            <label class="col-form-label"> 
                {{getLang(this.formfield.fieldname, this.formfield.displayname)}} 
            </label>
            
            <ng-container [ngSwitch]="this.formfield.fieldtype">

                <ng-container *ngSwitchCase="'text'">
                    <mat-form-field
                        class="example-full-width">
                        <input
                            type="text"
                            matInput
                            [formControlName]="this.formfield.fieldname">
                    </mat-form-field>                    
                </ng-container>

                <ng-container *ngSwitchCase="'long_text'">
                    <mat-form-field class="example-full-width">
                        <input
                            type="text"
                            matInput
                            value
                            [formControlName]="this.formfield.fieldname">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <textarea matInput> </textarea>
                    </mat-form-field>
                </ng-container>

                <ng-container *ngSwitchCase="'checkbox'">
                    <mat-selection-list [formControlName]="this.formfield.fieldname" >
                        <mat-list-option  class="mat-primary" checkboxPosition="before" *ngFor="let look of this.formfield.lookupdata" [value]="look.key">
                            {{look.value}}
                        </mat-list-option>
                    </mat-selection-list>
                </ng-container>

                <ng-container *ngSwitchCase="'radio'">
                    <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group"
                        [formControlName]="this.formfield.fieldname">
                        <mat-radio-button
                            class="example-radio-button"
                            *ngFor="let look of this.formfield.lookupdata; let i = index"
                            [value]="look.value"
                            >
                            {{look.value}}
                        </mat-radio-button>
                    </mat-radio-group>
                </ng-container>

                <ng-container *ngSwitchCase="'list'">
                    <mat-form-field class="example-full-width">
                        <input
                            matInput
                            placeholder="Select"
                            aria-label="Select"
                            [matAutocomplete]="auto"
                            [formControlName]="this.formfield.fieldname">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let opt of this.formfield.lookupdata" [value]="opt.value">
                                <span>{{ opt.value }}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </ng-container>

                <ng-container *ngSwitchCase="'datepicker'">
                    <mat-form-field>
                        <input
                            matInput
                            [min]="minDate"
                            [max]="this.formfield.maxDate ? this.formfield.maxDate : maxDate"
                            [matDatepicker]="resultPicker"
                            [formControlName]="this.formfield.fieldname"
                            placeholder="">
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="resultPicker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #resultPicker [startAt]="startDate"></mat-datepicker>
                    </mat-form-field>
                </ng-container>

                <ng-container *ngSwitchCase="'time_only'">
                    <mat-form-field class="example-full-width">
                        <input 
                          matInput
                          type="time" 
                          [formControlName]="this.formfield.fieldname">
                        </mat-form-field>
                </ng-container>

                <ng-container *ngSwitchCase="'multi_selected_list'">
                    <mat-form-field class="example-full-width">
                        <mat-select
                            [formControlName]="this.formfield.fieldname"
                            multiple>
                            <mat-option value="">Select {{this.formfield.displayname}}</mat-option>
                            <mat-option
                                *ngFor="let opt of this.formfield.lookupdata"
                                [value]="opt.value">
                                {{opt.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>

                <ng-container *ngSwitchCase="'primaryemail'">

                    <mat-form-field class="example-full-width">
                        <input
                            type="text"
                            matInput
                            [formControlName]=" this.formfield.fieldname">
                    </mat-form-field>
                </ng-container>

                <ng-container *ngSwitchCase="'secondaryemail'">
                    <mat-form-field class="example-full-width">
                        <input
                            type="text"
                            matInput
                            [formControlName]=" this.formfield.fieldname">
                    </mat-form-field>
                </ng-container>

                <ng-container *ngSwitchCase="'mobile'">
                    <mat-form-field
                        class="example-full-width">
                        <input
                            type="number"
                            matInput
                            [formControlName]="this.formfield.fieldname">
                    </mat-form-field>
                </ng-container>

                <ng-container *ngSwitchCase="'alternatenumber'">
                    <mat-form-field
                        class="example-full-width">
                        <input
                            type="number"
                            matInput
                            [formControlName]="this.formfield.fieldname">
                    </mat-form-field>
                </ng-container>

                <ng-container *ngSwitchCase="'whatsappnumber'">
                    <ngx-intl-tel-input
                        [inputId]="'adsasd'"
                        [cssClass]="'custom form-control'"
                        [ngClass]="!((dynamicForm.get([this.formfield.fieldname]).pristine && !dynamicSubmitted) || dynamicForm.get([this.formfield.fieldname]).valid) ? 'error' : ' '"
                        [preferredCountries]="preferredCountries"
                        [enableAutoCountrySelect]="false"
                        [enablePlaceholder]="true"
                        [searchCountryFlag]="true"
                        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                        [selectFirstCountry]="false"
                        [selectedCountryISO]="this.formfield.value && this.formfield.value.countryCode ? this.formfield.value.countryCode : CountryISO.India"
                        [maxLength]="15"
                        [phoneValidation]="true"
                        [separateDialCode]="separateDialCode"
                        [formControlName]="this.formfield.fieldname">
                    </ngx-intl-tel-input>
                </ng-container>

                <ng-container *ngSwitchCase="'lookup'">
                    <dynamic-autocomplete
                        [formControlName]="this.formfield.fieldname"
                        [setting]="this.formfield"
                        [dbvalue]="this.formfield.value"
                        (added)="onItemAdded($event)">
                    </dynamic-autocomplete>
                </ng-container>

                <ng-container *ngSwitchCase="'form'">
                    <dynamic-autocomplete
                        [formControlName]="this.formfield.fieldname"
                        [setting]="this.formfield"
                        [dbvalue]="this.formfield.value"
                        (added)="onItemAdded($event)">
                    </dynamic-autocomplete>
                </ng-container>

                <ng-container *ngSwitchCase="'attachment'">
                    <div class="form-group">
                        <img class="loading_{{this.formfield.fieldname}}" src="assets/img/image-loader.GIF"
                            style="height: 100px; width: 100px; display: none">

                        <div class="btn btn-primary btn-file">

                            <label class="upload_button mb-0" for="fileupload_{{this.formfield.fieldname}}"><i class="material-icons">cloud_upload</i> Upload </label>

                            <input
                                type="file"
                                id="fileupload_{{this.formfield.fieldname}}"
                                #fileInput
                                ng2FileSelect
                                [style.display]="'none'"
                                [uploader]="customeUploader[this.formfield.fieldname]"
                                (change)="fileInput.value=''"
                                multiple />

                            <input
                                type="hidden"
                                [id]="this.formfield.fieldname"
                                [formControlName]="this.formfield.fieldname" >
                        </div>

                        <div class="mt-2" >
                            <span class="upload-tag badge badge-pill d-flex mb-2" *ngFor="let item of formImageArray[this.formfield.fieldname]">
                                <span class="d-flex flex-grow-1 align-items-center" >
                                    <i class="material-icons d-flex align-items-center mr-2">link</i>
                                    <span (click)="downloadlink(item.attachment)"> {{item.originalfilename}}.{{item.extension}}</span>
                                </span>
                                <i
                                    class="material-icons d-flex align-items-center justify-content-end ml-2 cursor-pointer"
                                    (click)="removeImg(item, this.formfield.fieldname)">clear</i>
                            </span>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngSwitchCase="'gallery'">
                    <div class="form-group">
                        
                        <div class="row membroz-row">
                            <div class="membroz-col mb-3">
                                <span class="btn-file text-center add-upload-inner-vcenter">
                                    <label 
                                        class="upload_button mb-0 add-upload-main" 
                                        for="fileupload_{{this.formfield.fieldname}}">
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            width="18.77"
                                            height="18.77" 
                                            viewBox="0 0 18.77 18.77">
                                            <g transform="translate(-807.636 -666.636)">
                                                <line 
                                                    x2="11.858" 
                                                    y2="11.858"
                                                    transform="translate(817.021 667.636) rotate(45)"
                                                    fill="none" 
                                                    stroke="#949494"
                                                    stroke-linecap="round" 
                                                    stroke-width="1" />
                                                <line 
                                                    x1="11.858" 
                                                    y2="11.858"
                                                    transform="translate(817.021 667.636) rotate(45)"
                                                    fill="none" 
                                                    stroke="#949494"
                                                    stroke-linecap="round" 
                                                    stroke-width="1" />
                                            </g>
                                        </svg>
                                        <div class="add-img-text mt-2"> {{getLang('addimage', 'Add image')}}</div>
                                    </label>
                                    <input
                                        type="file"
                                        id="fileupload_{{this.formfield.fieldname}}"
                                        #fileInput
                                        ng2FileSelect
                                        [style.display]="'none'"
                                        [uploader]="customeUploader[this.formfield.fieldname]"
                                        (change)="fileInput.value=''"
                                        multiple />

                                    <input
                                        type="hidden"
                                        [id]="this.formfield.fieldname"
                                        [formControlName]="this.formfield.fieldname" >
                                </span>

                               
                                
                            </div>
                            <img 
                            class="loading_{{this.formfield.fieldname}}" 
                            src="assets/img/image-loader.GIF"
                            style="height: 100px; width: 100px; display: none">
                            <div 
                                class="membroz-col mb-3"
                                *ngFor="let item of formImageArray[this.formfield.fieldname];let i = index">
                                <div class="position-relative d-flex">
                                    <img 
                                        [src]="item.attachment"
                                        (click)="downloadlink(item.attachment)" 
                                        class="img-fluid img-add-product">
                                        <span class="img-add-product-delete">
                                            <button 
                                                mat-raised-button
                                                class="btn btn-just-icon btn-link"
                                                (click)="removeImg(item, this.formfield.fieldname)">
                                                <i class="material-icons">cancel</i>
                                            </button>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngSwitchCase="'signaturepad'">
                    <ng-container *ngIf="this.formfield.value">
                        <img [src]="this.formfield.value" style="height: 100px; width: 100px;">
                    </ng-container>
                    <input
                        type="hidden"
                        [formControlName]="this.formfield.fieldname">
                    <ng-container *ngIf="display">
                        <div class="container">
                            <div class="row" >
                                <ngx-signature-pad #testPadTest></ngx-signature-pad>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>

                <div
                    style="margin-left:18%;"
                    [hidden]="dynamicForm.get([this.formfield.fieldname]).valid || (dynamicForm.get([this.formfield.fieldname]).pristine && !dynamicSubmitted)"
                    class="text-danger">

                    <small *ngIf="dynamicForm.get([this.formfield.fieldname]).hasError('required')" class="error-label">
                        * {{this.formfield.displayname}} is Required
                    </small>

                    <small *ngIf="dynamicForm.get([this.formfield.fieldname]).hasError('email')" class="error-label">
                        * {{this.formfield.displayname}} is Invalid Email
                    </small>

                </div>

                
            </ng-container>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-right">

            <button
                *ngIf="this.formfield.fieldtype == 'signaturepad'" 
                class="btn btn-default" 
                type="button" 
                (click)="clear()">
                clear
            </button>

            <button 
                class="btn btn-primary ml-2" 
                type="submit" 
                >
                <i class="material-icons">save</i>{{getLang('save', 'Save')}}
            </button>

            <ng-container *ngIf="this.formfield.fieldtype == 'signaturepad'" >
                <label 
                    class="btn btn-primary ml-2" 
                    for="fileupload_{{this.formfield.fieldname}}">
                     <i class="material-icons">cloud_upload</i> {{getLang('upload', 'Upload')}}
                </label>
                <input
                    type="file"
                    id="fileupload_{{this.formfield.fieldname}}"
                    #fileInput
                    ng2FileSelect
                    [style.display]="'none'"
                    [uploader]="customeUploader[this.formfield.fieldname]"
                    (change)="fileInput.value=''"
                    multiple />
            </ng-container>

        </div>
    </div>
</form>