<div class="material-datatables1">
    <div class="table-responsive">
  
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput placeholder="Search..." #input>
      </mat-form-field>
  
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100 table-hover table-membroz">
  
        <ng-container matColumnDef="startAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> startAt </th>
          <td mat-cell *matCellDef="let element;">
               <ng-container *ngIf="element.property.startat">{{element.property.startat}} </ng-container>
               <ng-container *ngIf="!element.property.startat">---</ng-container>

            </td>
        </ng-container>
  
        <ng-container matColumnDef="endAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> endAt </th>
          
          <td mat-cell *matCellDef="let element"> 
            <ng-container *ngIf="element.property.endat">{{element.property.endat}} </ng-container>
            <ng-container *ngIf="!element.property.endat">---</ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="consultant">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Consultant </th>
            <td mat-cell *matCellDef="let element"> {{element.property.consultantid?.fullname}} </td>
          </ng-container>
     
   
  
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="text-right"> Action</th>
          <td mat-cell *matCellDef="let element" class="text-right">
            <button type="button" class="btn btn-link btn-primary btn-just-icon" matTooltip="View"
            [matTooltipPosition]="'above'" data-toggle="modal" data-target="#chatModal" (click)="viewChat(element)">
            <i class="material-icons">visibility</i>
          </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  
  </div>

  <!-- Modal  -->
<div class="modal fade" id="chatModal" >
    <div class="modal-dialog modal-lg">
            <div class="modal-content" >
                <div class="modal-header" >
                    <h4>Chat</h4>
                </div>
                <div class="modal-body" >
                    <div class="main-content">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-xl-10 ml-auto mr-auto">
                              <!-- <div class="row mt-lg-3 mt-0">
                                <h3 class="col-sm-6 card-title align-self-center mb-sm-0 mt-0 mb-3">Chat</h3>
                              </div> -->
                              <div class="loader" *ngIf="isLoading">
                                <svg class="circular" viewBox="25 25 50 50">
                                  <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                                </svg>
                              </div>
                              <div class="row" *ngIf="!isLoading">
                                <div class="col-lg-12 col-md-7 pr-md-0">
                      
                                  <div *ngFor="let x of messages; let i = index">
                      
                                    <div *ngIf="sender && x.user._id == sender._id">
                                      <div class="row">
                      
                                        <div class="col-md-6"> </div>
                                        <div class="col-md-6">
                                          <div class="card">
                                            <div class="border-bottom p-3">
                                              <div class="media mb-3">
                                                <img
                                                  [src]="sender && sender.profilepic ? sender.profilepic :  'https://randomuser.me/api/portraits/women/31.jpg'"
                                                  class="profile-avatar-img mr-3 rounded-circle" alt="">
                                                <div class="media-body">
                                                  <div class="font-500 mb-1">{{sender && sender.fullname ?
                                                    sender.fullname : '---'}} </div>
                                                  <div class="font-weight-bold">{{x?.createdAt | date :'short'}}</div>
                                                </div>
                                              </div>
                                              <div [innerHtml]="x.text"></div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                      
                                    <div *ngIf="receiver && x.user._id == receiver._id">
                                      <div class="row">
                                        <div class="col-md-6">
                                          <div class="card">
                                            <div class="border-bottom p-3">
                                              <div class="media mb-3">
                                                <img
                                                  [src]="receiver && receiver.profilepic ? receiver.profilepic :  'https://randomuser.me/api/portraits/women/31.jpg'"
                                                  class="profile-avatar-img mr-3 rounded-circle" alt="">
                                                <div class="media-body">
                                                  <div class="font-500 mb-1">{{receiver && receiver.fullname ?
                                                    receiver.fullname : '---'}} </div>
                                                  <div class="font-weight-bold">{{x?.createdAt | date :'short'}}</div>
                                                </div>
                                              </div>
                      
                                              <div [innerHtml]="x.text"></div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6"> </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="modal-footer" >
                   
                    <button class="btn btn-default"type="button" data-dismiss="modal">
                        <i class="material-icons">close</i>Cancel
                    </button>
                   
                </div>
            </div>
    </div>
</div>