<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="offset-xl-1 col-xl-10">
          <div class="card error-page-p">            
            <div class="card-body">
              <div class="row d-none">
                 <div class="col-md-6 col-lg-6 col-xl-5 ml-auto d-flex align-items-center flex-column mb-5 mb-md-0">
                    <h1 class="error-page-head">404</h1>   
                    <div class="error-page-head-2 mb-2">Page Not Found</div> 
                    <div class="mb-3 text-center">Looks like we can't find this page anymore.</div>  
                    <a href="#" class="btn btn-primary">Go Back</a>                                 
                 </div>
                 <div class="col-md-6 col-lg-6 col-xl-5 mr-auto d-flex align-items-center justify-content-center">
                  <img  src="assets/img/404.svg" class="img-fluid" >
                 </div>
              </div>

              <div class="row d-none">
                <div class="col-md-6 col-lg-6 col-xl-5 ml-auto d-flex align-items-center flex-column mb-5 mb-md-0">
                   <h1 class="error-page-head">403</h1>   
                   <div class="error-page-head-2 mb-2">Access Denied</div> 
                   <div class="mb-3 text-center">You don't have permission to access the page</div>  
                   <a href="#" class="btn btn-primary">Go Back</a>                                 
                </div>
                <div class="col-md-6 col-lg-6 col-xl-5 mr-auto d-flex align-items-center justify-content-center">
                 <img  src="assets/img/403.svg" class="img-fluid" >
                </div>
             </div>

             <div class="row">
              <div class="col-md-6 col-lg-6 col-xl-5 ml-auto d-flex align-items-center flex-column mb-5 mb-md-0">
                 <h1 class="error-page-head">500</h1>   
                 <div class="error-page-head-2 mb-2">Internal Server Error</div> 
                 <div class="mb-3 text-center">Please try again or contact support</div>  
                 <a href="#" class="btn btn-primary">Go Back</a>                                 
              </div>
              <div class="col-md-6 col-lg-6 col-xl-5 mr-auto d-flex align-items-center justify-content-center">
               <img  src="assets/img/500.svg" class="img-fluid" >
              </div>
            </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  