<div class="row">
  <div class="col-sm-12">
    <mat-selection-list class="mat-list-direction-row" *ngIf="sortfieldLists.length !== 0"
      (selectionChange)="checkUncheckEvent($event)" dragula="ITEMS" [(dragulaModel)]="sortfieldLists">
      <div *ngFor="let item of sortfieldLists" class="d-flex">
        <mat-list-option class="mat-primary " checkboxPosition="before" [selected]="item.display"
          [value]="item.fieldname">
          <span style="font-weight: bold" *ngFor="let item2 of item.pfields"> {{item2}} >> </span>
          {{item.displayname ? item.displayname : item.formdisplaytext ? item.formdisplaytext : item.fieldname}}
        </mat-list-option>

        <mat-form-field class="example-full-width ml-3 col-md-3" *ngIf="item.display">
          <mat-select matInput [value]="item.sort" placeholder="Select Sort Order"
            (selectionChange)="orderChange($event, item.fieldname)">
            <mat-option [value]="-1">
              ascending
            </mat-option>
            <mat-option [value]="1">
              descending
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-selection-list>
  </div>

</div>

<div class="row">
  <div class="col-sm-12 text-right">
    <button class="btn btn-primary" [disabled]="btnDisable" type="button" (click)="updateValue()">
      <i class="material-icons">save</i> Save
    </button>
  </div>
</div>