<form [formGroup]="campaignForm" (ngSubmit)="onSubmit(campaignForm.value)" novalidate>
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-xl-1 col-xl-10">
                    <mat-tab-group class="frontdesk-tab-card">
                        <mat-tab label="Email">
                            <ng-template matTabContent>
                                <div class="card mt-0">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-10 col-lg-10 col-xl-10 mr-auto ml-auto">
                                                <h4 class="card-title">Set up your email campaign</h4>
                                                
                                                <label class="col-form-label">
                                                    Campaign Name
                                                </label>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput value="" formControlName="campaignname"
                                                        [(ngModel)]="campaignname">
                                                    <mat-hint>Give your campaign name to help organize and locate it
                                                        easily
                                                        within your account.
                                                    </mat-hint>
                                                </mat-form-field>

                                                <label class="col-form-label">
                                                    Subject
                                                </label>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput value="" formControlName="subjectline"
                                                        [(ngModel)]="subjectline">
                                                    <mat-hint>See how your subject line displayed</mat-hint>
                                                </mat-form-field>


                                                <div class="d-flex justify-content-end">
                                                    <button class="btn btn-default" type="button"
                                                        [routerLink]="['/pages/dynamic-list/list/campaign']">
                                                        <i class="material-icons">close</i> Cancel
                                                    </button>
                                                    <button class="btn btn-primary ml-2" type="submit"
                                                        (click)="buttonClicked = 'later'">
                                                        <i class="material-icons">save</i> Save for Later
                                                    </button>
                                                    <button class="btn btn-primary ml-2" type="submit"
                                                        (click)="buttonClicked = 'next'">
                                                        Next <i class="material-icons">east</i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-tab>
                        <mat-tab label="SMS">
                            <div class="card px-3 mt-0">
                                <div class="row">
                                    <div class="col-md-12 col-lg-10 col-xl-10 ml-auto">

                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</form>