<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="offset-xl-1 col-xl-10">
        <div class="text-center" *ngIf="isLoading">
          <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
              <circle class="path" cx="50" cy="50" r="10" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
          </div>
        </div>

        <ng-container *ngIf="!isLoading">

          <h3 class="card-title mb-0" *ngIf="Integrated.length > 0">You have already configured integration</h3>
          <h3 class="card-title mb-0" *ngIf="Integrated.length == 0">
            Your Payment gateway integration is incomplete, Please activate payment gateway from below list.
          </h3>

          <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 d-flex" *ngFor="let existInt of Integrated">
              <div class="card w-100 text-center">
                <div class="card-body">
                  <div class="justify-content-center mb-3 integrate-name-logo">
                    <img [src]=" existInt.property && existInt.property.logo ?  existInt.property.logo : '../../assets/img/image_placeholder.jpg'" alt="">
                    <span class="img-add-product-delete">
                      <button mat-raised-button type="button" [disabled]="disableBtn" class="btn btn-just-icon btn-link"
                        (click)="onDelete(existInt.formdata._id)">
                        <i class="material-icons">cancel</i>
                      </button>
                    </span>
                  </div>
                  <h4 class="card-title">
                    {{existInt.title ? existInt?.title : '---'}}
                  </h4>
                  <p>
                    {{existInt.detail ? existInt?.detail : notexistInt?.property.desc}}
                  </p>
                  <a [routerLink]="[existInt.configurl]" class="btn btn-primary"
                    [class.disabled]="disableBtn">Config</a>
                  <a [href]="[existInt.readmoreurl]" target="_blank" class="btn btn-outline-primary ml-3"
                    [class.disabled]="disableBtn">Read
                    More
                  </a>
                </div>
              </div>
            </div>
          </div>

          <h3 class="card-title mb-0" *ngIf="notIntegrated.length > 0">Available integration </h3>
          <div class="row" *ngIf="notIntegrated.length > 0">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 d-flex" *ngFor="let notexistInt of notIntegrated">
              <div class="card w-100 text-center">
                <div class="card-body">
                  <div class="justify-content-center mb-3 integrate-name-logo">
                    <img [src]="notexistInt.property && notexistInt.property.logo ?  notexistInt.property.logo : '../../assets/img/image_placeholder.jpg'"
                      alt="">
                  </div>
                  <h4 class="card-title">
                    {{notexistInt.formname ? notexistInt?.formname : '---'}}
                  </h4>
                  <p>
                    {{notexistInt.detail ? notexistInt?.detail : notexistInt?.property.desc}}
                  </p>
                  <!-- <a [routerLink]="[notexistInt.configurl]" class="btn btn-primary">Configure</a> -->
                  <button class="btn btn-primary ml-3" [disabled]="disableBtn"
                    (click)="onActivate(notexistInt)">Activate
                  </button>
                  <a [href]="[notexistInt.readmoreurl]" target="_blank" class="btn btn-outline-primary ml-3">Read
                    More
                  </a>
                </div>
              </div>
            </div>

          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>