<div class="row">
  <div class="col-sm-12">
    <mat-selection-list 
      *ngIf="selectedfieldLists.length !== 0" 
      (selectionChange)="checkUncheckEvent($event)" 
      dragula="ITEMS" 
      [(dragulaModel)]="selectedfieldLists">
      <mat-list-option 
        class="mat-primary" 
        checkboxPosition="before" 
        [selected]="item.display"
        *ngFor="let item of selectedfieldLists" [value]="item.fieldname">
        <span style="font-weight: bold" *ngFor="let item2 of item.pfields"> {{item2}} >> </span>
          {{item.displayname ? item.displayname : item.fieldname}}
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>

<!-- <div class="row">
  
  <div class="col-sm-12 text-right">
    <button 
      class="btn btn-primary ml-2" 
      type="button" 
      (click)="updateValue()">
      <i class="material-icons">save</i>Save
    </button>
  </div>
      
</div> -->
