<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100 table-hover table-membroz">

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <ng-container [matColumnDef]="item['code']" *ngFor="let item of displayedColumnsX" [ngSwitch]="item['type']">
        <th mat-header-cell *matHeaderCellDef [ngClass]="{'text-right': item['code'] === 'action'}"> {{item['value']}}
        </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'text-right': item['code'] === 'action'}">
            <span *ngSwitchCase="'string'">
                {{element[item['code']]}}
            </span>
            <span *ngSwitchCase="'date'">
                {{element[item['code']] | date: 'dd/MM/yyyy'}}
            </span>
            <span *ngSwitchCase="'object'">
                {{element[item['code']] && element[item['code']['subcode']] ? element[item['code']['subcode']] : '---'}}
            </span>
            <span *ngSwitchCase="'document'">
                {{element[item['code']]}} - {{element[item['subcode']]}}
            </span>

            <span *ngSwitchCase="'button'">
                <button class="btn btn-link btn-primary btn-just-icon" data-toggle="dropdown" matTooltip="More"
                    [matTooltipPosition]="'above'">
                    <i class="material-icons">more_vert</i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" [routerLink]="[element.routerurl]">
                        View Doc
                    </a>
                </div>
            </span>
        </td>
    </ng-container>
</table>