<form [formGroup]="form" (ngSubmit)="onSubmit(form.value, form.valid)" novalidate class="form-horizontal mb-0">


    <div class="modal-header">
        <h4 class="modal-title">
            <span>{{getLang('sendmessages', 'Send Messages')}}</span>
        </h4>
        <button type="button" class="close" data-dismiss="modal"  (click)="reset()" id="closeform">&times;</button>
    </div>

    <div class="modal-body box-shadow-none">

        <div class="loader" *ngIf="isLoading">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
        </div>
        <div class="form-horizontal" *ngIf="!isLoading">
            <div class="row">
                <div class="col-sm-12">
                    <label class="col-form-label">
                        {{getLang('communicationtype', 'Communication Type')}}
                        <span class="text-danger">*</span>
                    </label>

                    <mat-form-field class="example-full-width">
                        <input type="text" matInput formControlName="templatetype" [matAutocomplete]="autoTemplatetype"
                            (keyup.enter)="ChangeCommunicationType()">

                        <mat-autocomplete #autoTemplatetype="matAutocomplete"
                            (optionSelected)="optionSelected($event.option)">
                            <mat-option *ngFor="let option of filteredOptionsTemplatetype | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>

                    </mat-form-field>

                    <div [hidden]="form.get('templatetype').valid || (form.get('templatetype').pristine && !submitted)"
                        class="text-danger">
                        <small *ngIf="form.get('templatetype').hasError('required')" class="error-label">
                            {{getLang('communicationtypeisrequired', 'Communication Type is Required')}}
                        </small>
                    </div>
                </div>

                <!-- <div class="col-sm-6">
                    <label class="col-form-label">
                        {{getLang('mailalrt', 'Mail Alert')}}
                    </label>
                    <mat-form-field class="example-full-width">
                        <input type="text" aria-label="Number" matInput formControlName="mailalert"
                            [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
                            <mat-option *ngIf="isLoadingBox " class="is-loading">
                                <mat-spinner diameter="50"></mat-spinner>
                            </mat-option>
                            <ng-container *ngIf="!isLoadingBox && optionsMailAlert.length > 0">
                                <mat-option *ngFor="let option of filteroptionsMailAlert | async" [value]="option">
                                    {{option.title}}
                                </mat-option>
                            </ng-container>
                            <ng-container *ngIf="!isLoadingBox && optionsMailAlert.length == 0">
                                <mat-option>
                                    <span>{{getLang('norecord', 'No Record')}}</span>
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                </div> -->


                <div class="col-sm-12"
                    *ngIf="form.get('templatetype').value && form.get('templatetype').value == 'EMAIL'">
                    <label class="col-form-label">
                        {{getLang('subject', 'Subject')}}
                    </label>
                    <mat-form-field class="example-full-width">
                        <input type="text" matInput formControlName="subject">
                    </mat-form-field>
                </div>

                <div class="col-sm-12" *ngIf="form.get('templatetype').value">
                    <label class="col-form-label">
                        {{getLang('message', 'Message')}}
                        <span class="text-danger">*</span>
                    </label>

                    <angular-editor
                        *ngIf="form.get('templatetype').value == 'EMAIL' || form.get('templatetype').value == 'WHATSAPP'"
                        formControlName="message" [placeholder]="'Enter text here...'">
                    </angular-editor>


                    <mat-form-field
                        *ngIf="form.get('templatetype').value == 'SMS' || form.get('templatetype').value == 'Pushalert'">
                        <textarea matInput formControlName="message"></textarea>
                    </mat-form-field>

                    <div [hidden]="form.get('message').valid || (form.get('message').pristine && !submitted)"
                        class="text-danger">
                        <small *ngIf="form.get('message').hasError('required')" class="error-label">
                            {{getLang('messageisrequired', 'Message is Required')}}
                        </small>
                    </div>

                </div>

                <div class="col-sm-6" *ngIf="optionsMailAlert && optionsMailAlert.length > 0">
                    <span class="dropdown inline-block text-right ml-2">
                        <button class="dropdown-toggle btn btn-primary mrtb0" data-toggle="dropdown">
                            {{getLang('loadfromtemplate','Load from template')}}
                            <b class="caret"></b>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ng-container *ngFor="let itm of optionsMailAlert">
                                <a class="dropdown-item" (click)="optionMailAlertSelected(itm)">
                                    {{itm.title}}
                                </a> 
                            </ng-container>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal-footer" *ngIf="!isLoading">
        <button class="btn btn-default" type="button" [disabled]="btnDisable" (click)="reset()" data-dismiss="modal">
            <i class="material-icons">close</i> {{getLang('cancel', 'Cancel')}}
        </button>
        <button class="btn btn-primary ml-2" [disabled]="btnDisable" type="submit">
            <i class="material-icons">send</i> {{getLang('send', 'Send')}}
        </button>

    </div>
</form>