<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-xl-1 col-xl-10">
                <h3 class="card-title">Campaign</h3>

                <div class="card">
                    <div class="card-body" *ngIf="campaignData">
                        <div class="container text-right">
                            <button class="btn btn-primary" type="button"
                            data-toggle="modal" data-target="#myModal"
                             (click)="onDeleteDesign()">
                                <i class="material-icons font-24">delete</i>
                            </button>
                            <button class="btn btn-primary" type="button" (click)="onEditDesign()">
                                <i class="material-icons font-24">edit</i> Edit Template
                            </button>
                            <button class="btn btn-primary" type="button"
                                [routerLink]="['/pages/campaign/recipients/'+bindId]">
                                Next Step
                            </button>
                        </div>
                        <div style="border:1px solid black;">
                            <div class="col-md-12">
                                <h5>From : 
                                    <span style="font-weight: normal; ">
                                        {{_authService.currentUser.user.property?.primaryemail}}
                                    </span>
                                </h5>
                                <h5>Subject : 
                                    <span style="font-weight: normal;">
                                        {{campaignData.property.subjectline}}
                                    </span>
                                </h5>
                            </div>
                            <hr/>
                            <div [innerHTML]="campaignData.content | safeHtml"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>