<div class="oc-h-bar oc-border" *ngIf="hasManager"></div>
<div class="oc-box oc-border oc-background p-0" style="cursor: pointer;" (click)="addSTeamUser(salesDesignation.designationid)">
	
	<div class="oc-designation oc-head">{{salesDesignation?.designation}}-[{{salesDesignation.many == true ? '&#8734;' : 1}}] </div>	
	<div class="oc-designation oc-body" *ngIf="salesDesignation.userList.length == 0"> No User</div>
	<div class="oc-designation oc-body" *ngFor="let us of salesDesignation.userList">{{us.userid != undefined && us.userid.fullname != undefined ? us.userid.fullname : '---'}} 
		-  [{{us.head != undefined && us.head != null && us.head.fullname != undefined ? us.head.fullname : '---'}}]
	</div>
</div>
<div class="oc-h-bar oc-border" *ngIf="salesDesignation?.subordinates.length"></div>