<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-xl-1 col-xl-10">
                <h3 class="card-title">Job Assignment</h3>
                <div class="card">
                    
                    <div class="card-body">
                        <div class="row">
                            
                                <div class="offset-xl-1 col-xl-10">
                                    <div class="row">

                                        <div class="col-sm-12">
                                    dss sds
                                        </div> 
                                    </div>    

                                </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>