<div class="table-responsive mt-3">
  <table mat-table [dataSource]="dataSource3"
    class="mat-elevation-z8 w-100 table-hover table-membroz">

    <ng-container matColumnDef="referer">
      <th mat-header-cell *matHeaderCellDef >{{getLang('name','Name')}}</th>
      <td mat-cell *matCellDef="let element">
        {{element.referer}}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>{{getLang('email','Email')}} </th>
      <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>

    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef>{{getLang('mobile','Mobile')}}</th>
      <td mat-cell *matCellDef="let element">
        {{element.mobile}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
  </table>
</div>