<div class="wrapper wrapper-full-page">
  <div class="login-full-page landing-main" [ngClass]="loginbgPath && loginbgPath !=='' ? 'header-filter' : ''"
    [ngStyle]="styleObject()">
    <div class="top-right-square"></div>
    <nav class="navbar navbar-expand-lg membroz-menu navbar-light p-0">
      <div id="header" class="header-inner">
        <div class="container">
          <a class="navbar-brand ml-0" href="#"><img [src]="logoPath ? logoPath : '../assets/img/membroz-logo.png'"
              alt=""></a>
          <button class="navbar-toggler login-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"> <span class="navbar-toggler-icon icon-bar"></span><span
              class="navbar-toggler-icon icon-bar"></span><span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" [href]="type == 'member' ? '/login/member': '/login' ">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="container login-container">
      <div class="row">
        <div class="col-xl-6 col-md-6 d-flex align-items-center">
          <div class="text-center text-md-left">
            <div class="top-left-dots" [ngClass]="adminloginimage && adminloginimage !=='' ? 'd-none' : ''"></div>
            <h1 class="h2 landing-head"> {{loginheader}}</h1>
            <div class="landing-intro">
              <p [innerHtml]="loginsubheader">A Complete SaaS Solution Tailored to Your Business Need</p>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-md-6">
          <div class="landing-box p-4 membroz-form align-items-center">
            <div class="ie-dblock">
              <h4 class="mb-3">Reset Password</h4>
              <form class="mb-0" [formGroup]="form" (ngSubmit)="resetPassword(form.value , form.valid)">
                <div class="card-login">
                  <span>
                    Hi, {{ currentUser && currentUser?.fullname ? currentUser?.fullname : '' }}, Please set your
                    new Password for login.
                  </span>

                  <div class="card-content">
                    <div class="form-group no-float">
                      <label class="control-label">
                        New Password
                      </label>
                      <span class="pull-right">{{password.value.length}} / 16 </span>
                      <input #password formControlName="password" type="password" placeholder="New Password"
                        name="password" class="form-control" id="newpasswd">
                      <!-- <span class="field-icon" style="cursor: pointer;" (click)="showPassword()">
                        <i class="material-icons"> {{hidepasswd ? 'visibility_off' : 'visibility'}}</i>
                      </span> -->
                      <!-- <mat-password-strength #passwordComponent max=16 (onStrengthChanged)="onStrengthChanged($event)"
                                        [password]="password.value">
                                    </mat-password-strength>
                                    <mat-password-strength-info
                                        [passwordComponent]="passwordComponent">
                                    </mat-password-strength-info> -->
                    </div>
                    <div class="form-group no-float">
                      <label class="control-label">
                        Confirm Password
                      </label>
                      <input formControlName="confirmpassword" type="password" name="confirmpassword"
                        placeholder="Confirm Password" class="form-control">
                      <small
                        [hidden]="!form.get('confirmpassword').hasError('notEquivalent') || (form.get('confirmpassword').pristine)"
                        class="text-danger">
                        Confirm Password does not match with password.
                      </small>
                      <small [hidden]="!(form.get('password').hasError('minlength') || form.get('confirmpassword').hasError('minlength'))"
                        class="text-danger">
                        Password contains atleast 8 digits.
                      </small>
                    </div>
                  </div>
                  <div class="loader" *ngIf="isLoading">
                    <svg class="circular" viewBox="25 25 50 50">
                      <circle class="path" cx="50" cy="50" r="10" fill="none" stroke-width="2" stroke-miterlimit="10" />
                    </svg>
                  </div>
                  <div class="footer text-center">
                    <button [disabled]="disableBtn" type="submit"
                      class="wpcf7-form-control btn btn-primary btn-lg btn-block">
                      Submit
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="login-footer mt-auto py-3">
    <div class="container">
      <div class="row">
        <div class="col text-center"> {{copyright}}</div>
      </div>
    </div>
  </footer>
</div>