<form 
    [formGroup]="form" 
    (ngSubmit)="onSubmit(form.value, form.valid)" 
    novalidate 
    class="mb-0">

    <div class="row">

        <div class="col-sm-12" *ngIf="type == 'multi'">
            
            <label class="col-form-label">
                {{getLang('attendee', 'Attendee')}}
                <span class="text-danger">*</span>
            </label>
            
            <div *ngIf="assign=='individual'">

                <mat-form-field class="example-full-width">
                    <input 
                        type="text"
                        matInput
                        required
                        [formControl]="attendee"
                        [matAutocomplete]="autoAttendee"
                        (keyup.enter)="enterAttendee()"
                        (click)="preloadAttendeedata()"
                        (change)="handleEmptyAttendeeInput($event)">
                    <mat-autocomplete 
                        #autoAttendee="matAutocomplete"
                        [displayWith]="displayAttendeeFn"
                        (optionSelected)="optionAttendeeSelected($event.option)">
    
                        <mat-option *ngIf="attendeeisLoadingBox" class="is-loading">
                            <mat-spinner diameter="50"></mat-spinner>
                        </mat-option>
    
                        <ng-container *ngIf="!attendeeisLoadingBox && allAttendeeLists.length > 0">

                            <div class="mat-optgroup-media">

                                <mat-option 
                                    *ngFor="let option of filteredAttendeeOptions | async" 
                                    [value]="option">

                                    <div class="media py-2 member-profile-item cursor-pointer" >
                                        <img 
                                            class="example-option-img rounded" 
                                            aria-hidden 
                                            [src]="option.src" 
                                            width="50" 
                                            height="50">

                                        <div class="media-body">
                                            
                                            <div class="d-flex">
                                                <div class="flex-grow-1"> 
                                                    <div class="font-500 mb-1">
                                                        <span>{{option?.fullname}}</span> 
                                                    </div>
                                                </div>
                                                <div class="fc-today-button font-500"><i class="material-icons"> account_circle </i></div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="flex-grow-1"> {{option?.mobile}}</div>
                                                <div class="fc-today-button font-14" *ngIf="option?.primaryemail">{{option?.primaryemail}}</div>
                                            </div>
                                        </div>

                                        
                                    </div>

                                </mat-option>

                            </div>
                            
                        </ng-container>
    
                        <ng-container *ngIf="!attendeeisLoadingBox && allAttendeeLists.length == 0">
                            <mat-option>
                                <span>{{getLang('norecord', 'No Record')}}</span>
                            </mat-option>
                        </ng-container>
    
                    </mat-autocomplete>
    
                    
                </mat-form-field>
    
                <div 
                    [hidden]="form.get('attendee').valid || (form.get('attendee').pristine && !submitted)"
                    class="text-danger">
                    <small *ngIf="form.get('attendee').hasError('required')" class="error-label">
                        {{getLang('attendeeisrequired', 'Attendee is Required')}}
                    </small>
                </div>
            </div>

            
        </div>

        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <label class="col-form-label">
                        {{getLang('facility', 'Facility')}}
                        <span class="text-danger">*</span>
                    </label>

                    <mat-form-field class="example-full-width">
                        <input 
                            type="text"
                            matInput
                            required
                            [formControl]="service"
                            [matAutocomplete]="auto"
                            (keyup.enter)="enter()"
                            (click)="preloaddata()"
                            (change)="handleEmptyInput($event)">

                        <mat-autocomplete 
                            #auto="matAutocomplete"
                            [displayWith]="displayFn"
                            (optionSelected)="optionSelected($event.option)">

                            <mat-option *ngIf="serviceisLoadingBox" class="is-loading">
                                <mat-spinner diameter="50"></mat-spinner>
                            </mat-option>

                            <ng-container *ngIf="!serviceisLoadingBox && serviceLists.length > 0">
                                <mat-optgroup *ngFor="let group of filteredServices | async" [label]="group.name" class="mat-optgroup-media">
                                    <mat-option 
                                        *ngFor="let child of group.children" 
                                        [value]="child">
                                        <div class="media py-2 member-profile-item cursor-pointer" >
                                            <img 
                                                class="example-option-img rounded" 
                                                aria-hidden 
                                                [src]="'../../assets/img/faces/avatar.jpg'" 
                                                width="50" 
                                                height="50">

                                            <div class="media-body">
                                                
                                                <div class="d-flex">
                                                    <div class="flex-grow-1"> 
                                                        <div class="font-500 mb-1">
                                                            <span>{{child?.title}}</span> 
                                                            <small *ngIf="child && child.services"> | Service: {{child?.services?.length}}</small>    
                                                        </div>
                                                    </div>
                                                    <div class="fc-today-button font-500">{{child?.charges | currency}}</div>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="flex-grow-1"> Short Description</div>
                                                    <div class="fc-today-button font-14" *ngIf="child?.duration">{{child?.duration}} Min.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-option>
                                </mat-optgroup>
                            </ng-container>

                            <ng-container *ngIf="!serviceisLoadingBox && serviceLists.length == 0">
                                <mat-option>
                                <span>{{getLang('norecord', 'No Record')}}</span>
                                </mat-option>
                            </ng-container>

                        </mat-autocomplete>


                    </mat-form-field>

                    <div 
                        [hidden]="form.get('service').valid || (form.get('service').pristine && !submitted)"
                        class="text-danger">
                        <small *ngIf="form.get('service').hasError('required')" class="error-label">
                            {{getLang('facilityisrequired', 'Facility is Required')}}
                        </small>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <ng-container *ngIf="this.service && this.service.value && this.service.value.type == 'service'">

        <div class="mt-3">

            <ng-container [formGroupName]="this.service.value._id">

                <mat-accordion class="example-headers-align mat-accordion-header-auto">

                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{this.service.value.title}} 

                                <mat-icon 
                                    style="color: #28B15F;margin-left: 10px;" 
                                    *ngIf="!this.form.get(this.service?.value?._id).invalid && !this.service.value.notAvailable">
                                    check
                                </mat-icon>
                            </mat-panel-title>
                            <mat-panel-description>
                                

                                <ng-container>
                                    
                                    <span class="font-16 d-inline-block mr-2">
                                        {{form.get(this.service.value._id).controls['date'].value | date}}
                                    </span>

                                    <span class="font-16 d-inline-block mr-2">
                                        {{getTimeSlot(this.service?.value?.timeslotLists, form.get(this.service.value._id).controls['timeslot'].value)}} 
                                    </span>

                                </ng-container>
                                
                                
                            </mat-panel-description>
                        </mat-expansion-panel-header>
    
                        <div class="row">
                            
                            <div class="col-sm-6">
    
                                <label class="col-form-label">
                                    {{getLang('date', 'Date')}}
                                    <span class="text-danger">*</span>
                                </label>
    
                                <mat-form-field class="example-full-width">
                                    <input 
                                        matInput 
                                        formControlName="date"
                                        [matDatepicker]="picker1"
                                        [matDatepickerFilter]="myFilter"
                                        (dateChange)="dateChange(this.service?.value?._id, $event)">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>

                                <div class="text-danger" *ngIf="this.service.value._id && this.service.value.disable">
                                    <small class="error-label">
                                        Service is not Available
                                    </small>
                                </div>
    
                                <div
                                    [hidden]="form.get(this.service?.value?._id).controls['date'].valid || (form.get(this.service?.value?._id).controls['date'].pristine && !submitted)"
                                    class="text-danger">
                                    <small *ngIf="form.get(this.service?.value?._id).controls['date'].hasError('required')" class="error-label">
                                        {{getLang('dateisrequired', 'Date is Required')}}
                                    </small>
                                </div>

                            </div>
    
                            <div class="col-sm-6">
    
                                <label class="col-form-label">
                                    {{getLang('time', 'Time')}}
                                    <span class="text-danger">*</span>
                                </label>
    
                                <mat-form-field class="example-full-width">
                                    <mat-select formControlName="timeslot">
                                      <mat-option>Select TimeSlot</mat-option>
                                      <mat-option [value]="timeslot.id" *ngFor="let timeslot of this.service?.value?.timeslotLists">
                                          {{timeslot.displaytext}}
                                      </mat-option>
                                    </mat-select>
                                </mat-form-field>
    
                                <div
                                    [hidden]="form.get(this.service?.value?._id).controls['timeslot'].valid || (form.get(this.service?.value?._id).controls['timeslot'].pristine && !submitted)"
                                    class="text-danger">
                                    <small *ngIf="form.get(this.service?.value?._id).controls['timeslot'].hasError('required')" class="error-label">
                                        {{getLang('timeslotisrequired', 'Timeslot is Required')}}
                                    </small>
                                </div>

                            </div>
    
                            
                            <div class="col-sm-12">
                                
                    
                                <mat-checkbox 
                                    class="example-margin" 
                                    formControlName="schedule"
                                    (change)="onScheduleChanged(this.service?.value?._id, $event)"> 
                                </mat-checkbox>

                                <label class="col-form-label">
                                    {{getLang('recurring', 'Recurring')}}
                                </label>
                    
                                <div
                                    [hidden]="form.get(this.service?.value?._id).controls['schedule'].valid || (form.get(this.service?.value?._id).controls['schedule'].pristine && !submitted)"
                                    class="text-danger">
                                    <small *ngIf="form.get(this.service?.value?._id).controls['schedule'].hasError('required')" class="error-label">
                                        {{getLang('scheduleisrequired', 'schedule is Required')}}
                                    </small>
                                </div>
                            </div>

                            <div class="col-sm-6" *ngIf="form.get(this.service?.value?._id).controls['schedule'].value == true">
                                <label class="col-form-label"></label>
                    
                                <mat-form-field>
                                    <mat-select
                                        name="recurringtype"
                                        formControlName="recurringtype"
                                        (ngModelChange)="onRecurringChanged($event)">
                                        <mat-option *ngFor="let item of recurringtypeLists" [value]="item.id"> {{item.name}} </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <div
                                    [hidden]="form.get(this.service?.value?._id).controls['recurringtype'].valid || (form.get(this.service?.value?._id).controls['recurringtype'].pristine && !submitted)"
                                    class="text-danger">
                                    <small *ngIf="form.get(this.service?.value?._id).controls['recurringtype'].hasError('required')" class="error-label">
                                        {{getLang('recurringtypeisrequired', 'Recurring Type is Required')}}
                                    </small>
                                </div>
                            
                            </div>

                            <div class="col-sm-12" *ngIf="form.get(this.service?.value?._id).controls['schedule'].value == true && this.service.value.appointmentscheduleList && this.service.value.appointmentscheduleList.length == 0">
                                <div class="d-flex align-items-center">
                                <div class="pr-3">
                                    <span *ngIf="form.get(this.service?.value?._id).controls['recurringtype'].value == 'daily'">
                                        {{getLang('repeatdailyat', 'Repeat daily at')}} 
                                        &nbsp; {{getTimeSlot(this.service?.value?.timeslotLists, form.get(this.service.value._id).controls['timeslot'].value)}}
                                        &nbsp; {{getLang('starting', 'starting')}} 
                                        &nbsp; {{form.get(this.service?.value?._id).controls['date'].value | date: 'mediumDate'}} 
                                        &nbsp; {{getLang('for', 'for')}}  
                                    </span>
                                    <span *ngIf="form.get(this.service?.value?._id).controls['recurringtype'].value == 'weekly'">
                                        {{getLang('repeatevery', 'Repeat every')}} 
                                        &nbsp; {{getDayName(date)}} 
                                        &nbsp; {{getLang('at', 'at')}} 
                                        &nbsp; {{getTimeSlot(this.service?.value?.timeslotLists, form.get(this.service.value._id).controls['timeslot'].value)}}
                                        &nbsp; {{form.get(this.service?.value?._id).controls['date'].value | date: 'mediumDate'}}
                                        &nbsp; {{getLang('for', 'for')}} 
                                    </span>
                                    <span *ngIf="form.get(this.service?.value?._id).controls['recurringtype'].value == 'monthly'">
                                        {{getLang('repeatthe', 'Repeat the')}} 
                                        &nbsp; {{getDay(date)}} 
                                        &nbsp; {{getLang('ofeverymonthat', 'of every month at')}} 
                                        &nbsp; {{getTimeSlot(this.service?.value?.timeslotLists, form.get(this.service.value._id).controls['timeslot'].value)}}
                                        &nbsp; {{getLang('starting', 'starting')}} 
                                        &nbsp; {{form.get(this.service?.value?._id).controls['date'].value | date: 'mediumDate'}} 
                                        &nbsp; {{getLang('for', 'for')}}   
                                    </span>
                                </div>
                    
                                <div class="col-lg-2 col-md-3 col-4 pr-3">
                                    <mat-form-field >
                                        <mat-select
                                            name="recurringoccurance"
                                            formControlName="recurringoccurance">
                                            <mat-option *ngFor="let item of recurringoccuranceLists" [value]="item"> {{item}} </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <div
                                        [hidden]="form.get(this.service?.value?._id).controls['recurringoccurance'].valid || (form.get(this.service?.value?._id).controls['recurringoccurance'].pristine && !submitted)"
                                        class="text-danger">
                                        <small *ngIf="form.get(this.service?.value?._id).controls['recurringoccurance'].hasError('required')" class="error-label">
                                            {{getLang('recurringtypeisrequired', 'Recurring Type is Required')}}
                                        </small>
                                    </div>

                                </div>
                    
                    
                                <div >
                                    {{getLang('times', 'Times')}}.
                                </div>
                              </div>
                            </div>

                            <div class="col-sm-12" *ngIf="form.get(this.service?.value?._id).controls['schedule'].value == true && this.service.value.appointmentscheduleList && this.service.value.appointmentscheduleList.length == 0">
           
                                <div class="d-flex mb-3 justify-content-end">
                                    <button 
                                        type="button" 
                                        class="btn btn-primary" 
                                        (click)="addtime()">
                                        {{getLang('addschedule', 'Add Schedule')}} 
                                    </button>
                                </div>
                            </div>

                            <div class="col-sm-12" *ngIf="form.get(this.service?.value?._id).controls['schedule'].value == true && this.service.value.appointmentscheduleList && this.service.value.appointmentscheduleList.length > 0">
                                <div class="col-sm-3">
                    
                                </div>
                                <div class="col-sm-9">
                                    <ul class="list-group">
                                        <li 
                                            class="list-group-item d-flex justify-content-between align-items-center"
                                            *ngFor="let itemAppoint of this.service.value.appointmentscheduleList"
                                            [ngClass]="isHoliday(itemAppoint) ? '' : 'list-group-item-danger'">
                                            
                                            
                                            {{getTimeSlot(this.service?.value?.timeslotLists, form.get(this.service.value._id).controls['timeslot'].value)}} 
                                            on 
                                            {{itemAppoint | date: 'mediumDate'}}
                                            

                                            <span class="cursor-pointer">
                                                <a class="delete" (click)="removeDate(itemAppoint)">{{getLang('remove', 'Remove')}}</a>
                                            </span>
                                            
                                        </li>
                                    </ul>
                                </div>
                                
                            </div>

                            <div class="col-sm-12">
                                
                    
                                <mat-checkbox 
                                    class="example-margin" 
                                    formControlName="onlinemeet"
                                    (change)="showOptions(this.service?.value?._id, $event)"> 
                                </mat-checkbox>

                                <label class="col-form-label">
                                    {{getLang('onlinemeet', 'Online Meet')}}
                                </label>
                    
                                <div
                                    [hidden]="form.get(this.service?.value?._id).controls['onlinemeet'].valid || (form.get(this.service?.value?._id).controls['onlinemeet'].pristine && !submitted)"
                                    class="text-danger">
                                    <small *ngIf="form.get(this.service?.value?._id).controls['onlinemeet'].hasError('required')" class="error-label">
                                        {{getLang('onlinemeetisrequired', 'onlinemeet is Required')}}
                                    </small>
                                </div>
                            </div>

                            <div class="col-sm-12" *ngIf="form.get(this.service?.value?._id).controls['onlinemeet'].value == true">
                                <label class="col-form-label">
                                    {{getLang('enterurl', 'Enter URL')}}
                                    <span class="text-danger">*</span>
                                </label>
                    
                                <mat-form-field class="example-full-width" style="margin-bottom: -1.00em !important;">
                                    <input 
                                      matInput
                                      type="text"
                                      class="example-margin"
                                      formControlName="onlinemeeturl">
                                </mat-form-field>
                    
                                <div
                                    [hidden]="form.get(this.service?.value?._id).controls['onlinemeeturl'].valid || (form.get(this.service?.value?._id).controls['onlinemeeturl'].pristine && !submitted)"
                                    class="text-danger">
                                    <small *ngIf="form.get(this.service?.value?._id).controls['onlinemeeturl'].hasError('required')" class="error-label">
                                        {{getLang('onlinemeeturlisrequired', 'OnlineMeeturl is Required')}}
                                    </small>
                                </div>
                            </div>

    
                        </div>
                        
                    </mat-expansion-panel>
                </mat-accordion>
            </ng-container>
            
            
        </div>
    </ng-container>

    <ng-container *ngIf="this.service && this.service.value && this.service.value.type == 'package' && this.service.value.services && this.service.value.services.length > 0">

        <div class="mt-3" *ngFor="let item of this.service.value.services; let i = index; let first = first ;let last = last;">

            <ng-container [formGroupName]="item.serviceid._id">

                <mat-accordion class="example-headers-align mat-accordion-header-auto">
                    <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                
                                {{item.serviceid.title}} 
                                
                                <mat-icon 
                                    style="color: #28B15F;margin-left: 10px;" 
                                    *ngIf="!this.form.get(item.serviceid._id).invalid && !item.notAvailable">
                                    check
                                </mat-icon>

                            </mat-panel-title>
                            <mat-panel-description class="d-flex justify-content-start">
                                

                                <ng-container>
                                    <span class="color-gray-dark font-16 d-inline-block mr-xl-4 mr-3">
                                        {{form.get(item.serviceid._id).controls['date'].value | date}}
                                    </span>

                                    <span class="color-gray-dark font-16 d-inline-block mr-xl-4 mr-3">
                                        {{getTimeSlot(item?.timeslotLists, form.get(item.serviceid._id).controls['timeslot'].value)}}
                                    </span>

                                    <span class="color-gray-dark font-16 d-inline-block mr-xl-4 mr-3">
                                        {{getStaff(item?.serviceid?.staff, form.get(item.serviceid._id).controls['staff'].value)}}
                                    </span>

                                </ng-container>
                                
                                
                            </mat-panel-description>
                        </mat-expansion-panel-header>
    
                        <div class="row">
                            
                            <div class="col-sm-6">
    
                                <label class="col-form-label">
                                    {{getLang('date', 'Date')}}
                                    <span class="text-danger">*</span>
                                </label>
    
                                <mat-form-field class="example-full-width">
                                    <input 
                                        matInput 
                                        formControlName="date"
                                        [matDatepicker]="picker1"
                                        [matDatepickerFilter]="myFilter"
                                        (dateChange)="dateChange(item.serviceid._id, $event)">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
    
                                <div
                                    [hidden]="form.get(item.serviceid._id).controls['date'].valid || (form.get(item.serviceid._id).controls['date'].pristine && !submitted)"
                                    class="text-danger">
                                    <small *ngIf="form.get(item.serviceid._id).controls['date'].hasError('required')" class="error-label">
                                        {{getLang('dateisrequired', 'Date is Required')}}
                                    </small>
                                </div>

                            </div>
    
                            <div class="col-sm-6">
    
                                <label class="col-form-label">
                                    {{getLang('time', 'Time')}}
                                    <span class="text-danger">*</span>
                                </label>
    
                                <mat-form-field class="example-full-width">
                                    <mat-select formControlName="timeslot">
                                      <mat-option>Select TimeSlot</mat-option>
                                      <mat-option [value]="timeslot.id" *ngFor="let timeslot of item.timeslotLists">
                                          {{timeslot.displaytext}}
                                      </mat-option>
                                    </mat-select>
                                </mat-form-field>
    
                                <div
                                    [hidden]="form.get(item.serviceid._id).controls['timeslot'].valid || (form.get(item.serviceid._id).controls['timeslot'].pristine && !submitted)"
                                    class="text-danger">
                                    <small *ngIf="form.get(item.serviceid._id).controls['timeslot'].hasError('required')" class="error-label">
                                        {{getLang('timeslotisrequired', 'Timeslot is Required')}}
                                    </small>
                                </div>

                            </div>
    
                            <div class="col-sm-12">
                                <label class="col-form-label">
                                    {{getLang('onlinemeet', 'Online Meet')}}
                                </label>
                    
                                <mat-checkbox 
                                    class="example-margin" 
                                    formControlName="onlinemeet"
                                    (change)="showOptions(item.serviceid._id, $event)"> 
                                </mat-checkbox>

                                <div
                                    [hidden]="form.get(item.serviceid._id).controls['onlinemeet'].valid || (form.get(item.serviceid._id).controls['onlinemeet'].pristine && !submitted)"
                                    class="text-danger">
                                    <small *ngIf="form.get(item.serviceid._id).controls['onlinemeet'].hasError('required')" class="error-label">
                                        {{getLang('onlinemeetisrequired', 'Onlinemeet is Required')}}
                                    </small>
                                </div>
                            </div>

                            <div class="col-sm-12" *ngIf="form.get(item.serviceid._id).controls['onlinemeet'].value == true">
                                <label class="col-form-label">
                                    {{getLang('enterurl', 'Enter URL')}}
                                    <span class="text-danger">*</span>
                                </label>
                    
                                <mat-form-field class="example-full-width" >
                                    <input 
                                      matInput
                                      type="text"
                                      class="example-margin"
                                      formControlName="onlinemeeturl">
                                </mat-form-field>
                    
                                <div
                                    [hidden]="form.get(item.serviceid._id).controls['onlinemeeturl'].valid || (form.get(item.serviceid._id).controls['onlinemeeturl'].pristine && !submitted)"
                                    class="text-danger">
                                    <small *ngIf="form.get(item.serviceid._id).controls['onlinemeeturl'].hasError('required')" class="error-label">
                                        {{getLang('onlinemeeturlisrequired', 'onlinemeeturl is Required')}}
                                    </small>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            
                            <div class="col-sm-6 text-left">
                                <button 
                                    type="button" 
                                    mat-raised-button
                                    color="danger" 
                                    class="btn btn-danger"
                                    (click)="removeStep(i, item.serviceid._id)">
                                    <i class="material-icons">delete</i> Delete
                                </button>
                            </div>
                            <div class="col-sm-6 text-right">
                                
                                
                                <ng-container *ngIf="this.service.value.services.length > 1">

                                    <ng-container *ngIf="!last">
                                        <button 
                                            type="button" 
                                            mat-button 
                                            class="btn btn-primary" 
                                            (click)="nextStep(i)">
                                            <i class="material-icons">save</i> 
                                            Save & Next
                                        </button>
                                    </ng-container>

                                    <ng-container *ngIf="last">
                                        <button 
                                            *ngIf="last"
                                            type="button" 
                                            mat-button 
                                            class="btn btn-primary" 
                                            (click)="nextStep(i)">
                                            <i class="material-icons">save</i> 
                                            Save
                                        </button>

                                        <button 
                                            *ngIf="last"
                                            type="button" 
                                            mat-button 
                                            [disabled]="disableBtn"
                                            class="btn btn-primary" 
                                            (click)="saveAndSubmit(i)">
                                            <i class="material-icons">save</i> 
                                            Save & Submit
                                        </button>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </ng-container>
            
            
        </div>

    </ng-container>

    <div class="row mt-3">
        
        <div class="col-sm-12 text-right">
            <button 
                (click)="cancel()"
                class="btn btn-default" 
                type="button"
                [disabled]="disableBtn">
                <i class="material-icons">close</i> {{getLang('cancel', 'Cancel')}}
            </button>
            <button 
                id="submit"
                class="btn btn-primary ml-2" 
                type="submit" 
                [disabled]="disableBtn" >
                <i class="material-icons">save</i> {{getLang('save', 'Save')}}
            </button>
        </div>
            
    </div>

</form>